{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}

  <main class="container">

<!-- Banner -->
<section class="pt-2 pl-3">
   
        <div class="row ">
            <div class="col mb-0">
                <p class="text-secondary display-4 paragraph2">Radiography Practice License Application Details</p>
                <hr>
           
        </div>
    </div>
</section>

 <div class="row">
            <div class="col-md-7 mt-0">
                <div class="col-md-12">
                <div class="row">
                        <p class="col-12 text-success lead">Application Summary</p>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>Application No:</strong></span>
                        <span class="col-6 ">{{object.application_no}}</span>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>Hospital Name:</strong></span>
                        <span class="col-6 ">{{object.hospital_name}}</span>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>License Category:</strong></span>
                        <span class="col-6">{{object.license_category}}</span>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>Hospital Admin:</strong></span>
                        <span class="col-6 ">{{object.practice_manager.first_name}} {{object.practice_manager.last_name}}</span>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>Phone:</strong></span>
                        <span class="col-6">{{object.phone}}</span>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>Email:</strong></span>
                        <span class="col-6">{{object.email}}</span>
                     </div>
                    <div class="row">
                        <span class="col-5"><strong>Available Equipment:</strong></span>
                        <span class="col-6">{{object.equipment}}</span>
                    </div>

                     <div class="row">
                      <span class="col-5"><strong>Payment Amount:</strong></span>
                      <span class="col-6">{{object.payment_amount | intcomma}}
                      </span>
                    </div>
                    <div class="row">
                      <span class="col-5"><strong>RRR Number:</strong></span>
                      <span class="col-6">{{object.rrr_number}}
                      </span>
                    </div>
                    <div class="row">
                        <span class="col-5"><strong>Receipt No:</strong></span>
                        <span class="col-6 ">{{object.receipt_number}}</span>
                    </div>
                    <div class="row">
                      <span class="col-5"><strong>Payment Date:</strong></span>
                      <span class="col-6">{{object.payment_date_pretty}}
                        </div>
                
                </div><br>
            </div>




            <div class="col-md-5 mt-0">

                <p class="text-success lead">Uploads</p>

            <div class="row py-0">
               <table class="table table-hover">
                    <thead style="background-color: #bfe3f8;">
                        <tr>
                        <th scope="col lead" style="color: #05567b;">Parameter</th>
                        <th scope="col lead" style="color: #05567b;">Value</th>
                        </tr>
                    </thead>


                    <tbody>
                        {% if object.payment_receipt %}
                        <tr> <td width="50%" scope="col">Payment Receipt:</td> 
                        <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
                        <a class="text-danger" href="{{object.payment_receipt.url}}"
                        target="_blank">&nbsp; View Payment Receipt</a></td>  
                        </tr>
                        {% endif %}
                       
                    </tbody>
                </table>
                </div>

                


                
                
            </div>

        </div>
        <hr>
        <div class="d-flex justify-content-end">   
             
             <a href="{% url 'finance:finance_dashboard' %}" class="btn btn-outline-dark px-3"><i class="fa fa-window-close text-danger"></i>  Return to Dashboard</a>

             <a href="#" class="btn btn-success ml-4 px-3"><i class="fa fa-podcast text-white"></i>  Confirm Payment</a>

             
        </div>


    </main>

{% endblock %}