{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}

<main class="container">

<!-- Banner -->
<section class="pt-2 pl-3">
   
        <div class="row ">
            <div class="col mb-0">
                <p class="text-info display-4 paragraph3">Hospitals/Centre Application and Inspection Details</p>
                <hr>
           
        </div>
    </div>
</section>

 <div class="row">
 <div class="col-md-7 mt-0">
 <div class="col-md-12">
 <div class="row">
 <p class="col-12 text-success lead">Application Summary</p>
 </div>
 <div class="row">
 <span class="col-5"><strong>Application No:</strong></span>
 <span class="col-6 ">{{object.application_no}}</span>
 </div>
 <div class="row">
 <span class="col-5"><strong>Hospital Name:</strong></span>
 <span class="col-6 ">{{object.hospital_name}}</span>
 </div>
 <div class="row">
 <span class="col-5"><strong>Hospital Email:</strong></span>
 <span class="col-6 ">{{object.hospital_name.hospital_admin}}</span></div>
 <div class="row">
 <span class="col-5"><strong>Application Category:</strong></span>
 <span class="col-6">{{object.hospital.license_type}}</span>
 </div>
 <div class="row">
 <span class="col-5"><strong>Application Type:</strong></span>
 <span class="col-6">{{object.hospital.application_type}}</span>
 </div>
 <div class="row">
 <span class="col-5"><strong>Address:</strong></span>
 <span class="col-6">{{object.hospital_name.address}}</span></div>
 <div class="row">
 <span class="col-5"><strong>Phone:</strong></span>
 <span class="col-6">{{object.hospital_name.phone_no}}</span>
 </div>
 <div class="row">
 </div>
 <div class="row">
 <span class="col-5"><strong>Available Equipment:</strong></span>
 <span class="col-6">{{object.hospital.equipment}}</span>
 </div>
 <div class="row">
 <span class="col-5"><strong>Radiographers:</strong></span>
 <span class="col-6">{{object.hospital.radiographers}}</span>
 </div>
 <div class="row">
 <span class="col-5"><strong>Radiologists:</strong></span>
 <span class="col-6">{{object.hospital.radiologists}}</span>
 </div>
 </div><br>
 <div class="col-md-10">
 <div class="row">
 <p class="col-12 text-success lead">Initial Uploads</p>
 </div>
<div class="row py-0 pl-1">
<table class="table table-hover table-borderless">
<tbody>
{% if object.hospital.cac_certificate %}
<tr> <td width="50%" scope="col">CAC Certificate:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.hospital.cac_certificate.url}}"
target="_blank">&nbsp; View CAC Certficiate</a></td> 
</tr>
{% endif %}
{% if object.hospital.practice_license1 %}
<tr> <td width="50%" scope="col">Radiographer License:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.hospital.practice_license1.url}}"
 target="_blank">&nbsp; View Radiographer License</a></td>  
 </tr>
 
 {% endif %}
 {% if object.hospital.practice_license2 %}
 <tr> <td width="50%" scope="col">Radiographer License:</td> 
 <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
 <a class="text-danger" href="{{object.hospital.practice_license2.url}}"
 target="_blank">&nbsp; View Radiographer License</a></td>  
 </tr>
 {% endif %}

 {% if object.hospital.form_c07 %}
 <tr> <td width="50%" scope="col">Form C07:</td> 
 <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
 <a class="text-danger" href="{{object.hospital.form_c07.url}}"
 target="_blank">&nbsp; View Form C07</a></td></tr> {% endif %}

 {% if object.payment.payment_receipt %}
  <tr> <td width="50%" scope="col">Payment Receipt:</td> 
  <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
  <a class="text-danger" href="{{object.payment.payment_receipt.url}}"
  target="_blank">&nbsp; View Payment Receipt</a></td>  
  </tr>
  {% endif %}
                       
   </tbody>
   </table>
   </div>
                

   </div><br>

    <div class="col-md-12">
    <div class="row">
    <p class="col-12 text-success lead">Control Details</p>
    </div>
    <div class="row">
    <span class="col-5"><strong>Inspection 
    Date:</strong></span>
    <span class="col-6">{{object.schedule.inspection_date}}</span>
    </div>
    <div class="row">
    <span class="col-5"><strong>Inspection Zone:</strong></span>
    <span class="col-6">{{object.schedule.inspection_zone}}</span>
    </div>
    </div>
    </div>



    <div class="col-md-5 mt-0">
    <p class="text-success lead">Inspection Score</p>
    <span><strong><mark>{{object.inspection_total}}</mark></strong></span>


    <br>
    <br>
    <p class="text-success lead">Inspection Comments/Observations</p>
    <span><mark>{{object.inspection_comments}}</mark></span>
    <br>
    <br>
    <p class="text-success lead">Inspection Uploads</p>

    <div class="row py-0">
    <table class="table table-hover">
    <thead style="background-color: #bfe3f8;">
    <tr>
    <th scope="col lead" style="color: #05567b;">Parameter</th>
    <th scope="col lead" style="color: #05567b;">Value</th>
    </tr>
    </thead>
     <tbody>

    {% if object.photo_main %}
    <tr> <td width="50%" scope="col">Photo Main:</td> 
    <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
    <a class="text-danger" href="{{object.photo_main.url}}"
    target="_blank"> Main Photo</a></td> 
    </tr>
    {% endif %}
    {% if object.photo_1 %}
    <tr> <td width="50%" scope="col">Photo One:</td> 
    <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
    <a class="text-danger" href="{{object.photo_1.url}}"
    target="_blank"> Photo One</a></td>  
    </tr>
    {% endif %}
    {% if object.photo_2 %}
    <tr> <td width="50%" scope="col">Photo Two:</td> 
    <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
    <a class="text-danger" href="{{object.photo_2.url}}"
    target="_blank"> Photo Two</a></td>  
    </tr>
    {% endif %}
    {% if object.photo_3 %}
    <tr> <td width="50%" scope="col">Photo Three:</td> 
    <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
    <a class="text-danger" href="{{object.photo_3.url}}"
    target="_blank"> Photo Three</a></td>  
    </tr>
    {% endif %}
    {% if object.photo_4 %}
    <tr> <td width="50%" scope="col">Photo Four:</td> 
    <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
    <a class="text-danger" href="{{object.photo_4.url}}" target="_blank"> Photo Four</a></td>  
    </tr>
    {% endif %}
    {% if object.photo_5 %}
    <tr> <td width="50%" scope="col">Photo Five:</td> 
    <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
    <a class="text-danger" href="{{object.photo_5.url}}"
    target="_blank"> Photo Five</a></td>  
    </tr>
    {% endif %}
    {% if object.photo_6 %}
    <tr> <td width="50%" scope="col">Photo Six:</td> 
    <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
    <a class="text-danger" href="{{object.photo_6.url}}"
    target="_blank"> Photo Six</a></td>  
    </tr>
    {% endif %}
    </tbody>
    </table>
    </div>
    </div>

    </div>
    <hr>
    <div class="d-flex justify-content-end">   
    <a href="{% url 'zonal_offices:zonal_offices_dashboard' %}" class="btn btn-outline-dark px-3"><i class="fa fa-window-close text-danger"></i>  Return to Dashboard</a>
    </div>



    </main>






        








<!--Jquery plugin-->
  <script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script>
  $('#mydata').dataTable();

  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>


{% endblock %}
