{% extends 'hospitals/hospital_base.html'%}
{% load static %}
{% load humanize %}
{% block title%}| Welcome {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
    <section class="p-2">
   
    <div class="row mt-2 ">
    <div class="col text-left ml-2 mb-0">
    <p class="text-success display-4 paragraph3">Radiography Practice License Application - Payment Invoice</p>
    <hr>
    </div>
    </div>

    </section>
    <section>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12"> 
    <div class="alert" style="background-color: #f7dedd; font-size:18px"> Dear <b>{{object.hospital_name|upper}}</b>,<br/> Please find below your application payment invoice.  This includes registration fee of N50,000 and cost for registration of all available modalities (first modality attracts a fee of N10,000 while additional modalities attract N5,000 per modality). </br> </div> 
     </div> 

    </section>
    <br>
        
                    

               
        


       <div class="row justify-content-center mx-auto"> 

        <div class="col-md-8 col-md text-center" style="background:#1ca8dd"> 
        <h4 class="justify-content-center" style="font-size:30px; padding:10px; color:#fff"> Invoice </h4> 
       </div> 

       <div class="col-md-8 col-md"> 
       <div class="row"> 
       <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12"> <b>{{object.hospital_name|upper}}</b> <br/> {{object.address|upper}}<br/> {{object.email}}; {{object.phone}} </div> 

       <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> <b style="color:#888">Date : </b>{{object.reg_date_pretty}} <br/><br/> <b style="color:#888">Application #: </b> {{object.application_no}} 
       </div>

       </div> <br/> 

       <div class="row" style="background: #efefef; color:#333; padding:8px;"> <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12"> Description </div> <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> Amount (NGN) </div> 
       </div> 
       <br/> 

      <div class="row"> 

      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> Registration of Practice Application Fee</span> <br/> <p class="help-block"> <b style="color:#888">Category:</b>{{object.license_category|upper}} <br/> <b style="color:#888">Type:</b> {{object.application_type|upper}} </p> </div> 


      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> N50,000.00 </span> </div>

      </div> <!-- total --> 

      <div class="row"> 

      <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> Cost for Registration of Modalities</span>  </div> 


      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> 

      {% for object in object.equipment.all %}
      {% if object.equipment_count == 13 %}   
      N70,000.00
      {% elif object.equipment_count == 12  %}
      N65,000.00
      {% elif object.equipment_count == 11  %}
      N60,000.00
      {% elif object.equipment_count == 10  %}
      N55,000.00
      {% elif object.equipment_count == 9  %}
      N50,000.00
      {% elif object.equipment_count == 8  %}
      N45,000.00
      {% elif object.equipment_count == 7  %}
      N40,000.00
      {% elif object.equipment_count == 6  %}
      N35,000.00
      {% elif object.equipment_name_count == 5  %}
      N30,000.00
      {% elif object.equipment_count == 4  %}
      N25,000.00
      {% elif object.equipment_count == 3  %}
      N20,000.00
      {% elif object.equipment_count == 2  %}
      N15,000.00
      {% else  %}
      N10,000.00
      {% endif %}
      {% endfor %}

       </span> </div>

      </div> 
       
       
       <div class="row" style="border-top:1px solid #555; border-bottom: 1px solid #555; padding:8px;"> 

        <div class="col-lg6 col-md-6 col-sm-3 col-xs-12"> Payment Status: <b style="color:#dc3545">PENDING</b> </div> 

        <div class="col-lg2 col-md-2 col-sm-3 col-xs-12 text-right"> <b>Total:</b> </div> 

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> 
       {% if object.equipment_count == 13 %}   
          N120,000.00
          {% elif object.equipment_count == 12  %}
          N115,000.00
          {% elif object.equipment_count == 11  %}
          N110,000.00
          {% elif object.equipment_count == 10  %}
          N105,000.00
          {% elif object.equipment_count == 9  %}
          N100,000.00
          {% elif object.equipment_count == 8  %}
          N95,000.00
          {% elif object.equipment_count == 7  %}
          N90,000.00
          {% elif object.equipment_count == 6  %}
          N85,000.00
          {% elif object.equipment_count == 5  %}
          N80,000.00
          {% elif object.equipment_count == 4  %}
          N75,000.00
          {% elif object.equipment_count == 3  %}
          N70,000.00
          {% elif object.equipment_count == 2  %}
          N65,000.00
          {% else  %}
          N60,000.00
          {% endif %} 


        </span> </div> 
        </div> <!-- buttons --> <br/> 


        <div class="row"> 
        <div class="col-lg-6 col-md-4 col-sm-12 hidden-xs"> 
        <img class="img-fluid" src="{% static 'img/remita.png' %}" /> 
        </div> 
        
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 text-right"> 
        <br/> <a href="{% url 'hospitals:hospitals_dashboard' %}" class="text-dark py-1 mr-3 mt-6 btn btn-outline-danger"><i class="fas fa-times"></i>  <br/>Close</a>    
        <a href="{% url 'hospitals:payment_processing' object.id %}" class="py-1 mr-3 mt-6 btn btn-warning"><i class="fa fa-check"></i> <br/>Proceed with Payment</a>
        </div>
        </div>
        </div>
        </div>
        
        <br>
        <div class="row justify-content-center mx-auto"> 

        <div class="col-md-8 col-md text-center" style="background:#f7dedd"> 
        <p class="text-success text-left display-4 paragraph3 mb-0 mt-3">To Pay:</p>
        <p class="ml-2 text-left" style="font-size:18px"><strong>Logon to www.remita.net, Click Pay Fed Govt Agency, </br> Choose Radiographers Registration Board of Nigeria from the list and complete the relevant fields, </br> Generate your RRR Number and pay with your credit/debit card or use the generated RRR to pay physically at any commercial bank. </br>
        If you have ready at this time your remita payment receipt or your payment advise from the bank, Click Proceed to Payment to upload your payment details.</strong></p>


        </div>

        </div>
        </br>
        </div>


        {% endblock %}
