{% extends 'hospitals/hospital_base.html'%}
{% load static %}
{% load humanize %}
{% block title%}| Welcome {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
    <section class="p-2">
   
    <div class="row mt-2 ">
    <div class="col text-left ml-2 mb-0">
    <p class="text-success display-4 paragraph3">Teaching/Government Hospitals Internship Application - Payment Invoice</p>
    <hr>
    </div>
    </div>

    </section>
    <section>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12"> 
    <div class="alert" style="background-color: #f7dedd; font-size:18px"> Dear <b>{{object.hospital_name|upper}}</b>,<br/> Please find below your internship accreditation application payment invoice </br> </div> 
     </div> 

    </section>
    <br>
        
    <div class="row justify-content-center mx-auto"> 

    <div class="col-md-7 col-md text-center" style="background:#1ca8dd"> 
    <h4 class="justify-content-center" style="font-size:30px; padding:10px; color:#fff"> Invoice </h4> 
    </div> 

    <div class="col-md-7 col-md"> 
    <div class="row"> 
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12"> <b>{{object.hospital_name|upper}}</b> <br/> 

        
    {{ object.hospital_name.address }}
    <br/> {{object.hospital_name.phone_no}}
    <br/>{{object.hospital_name.hospital_admin}} </div> 
        
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12"> <b style="color:#888">Application Date: </b>{{object.date}} <br/><br/> <b style="color:#888">Application #: </b> {{object.application_no}} 
    </div>
    </div> <br/> 

    <div class="row" style="background: #efefef; color:#333; padding:8px;"> <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12"> Description </div> <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12"> Amount (NGN) </div> 
    </div> 
    <br/> 


    {% if object.application_type == "Renewal - Government Hospital Internship" %}


    <div class="row"> 
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> Accreditation Fee</span> <br/> <p class="help-block"> <b style="color:#888">Category:</b>{{object.license_type|upper}} <br/> <b style="color:#888">Type:</b> {{object.application_type|upper}} </p> </div> 
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> N500,000.00 </span> </div>
    </div> <!-- total --> 
     
    <div class="row" style="border-top:1px solid #555; border-bottom: 1px solid #555; padding:8px;"> 
    <div class="col-lg5 col-md-5 col-sm-3 col-xs-12"> Payment Status: <b style="color:#dc3545">PENDING</b> </div> 
    <div class="col-lg2 col-md-2 col-sm-3 col-xs-12 text-right"> <b>Total:</b> </div> 
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> 
    N500,000.00
    </span> </div> 
    </div> <!-- buttons --> <br/> 


    {% else %}

    <div class="row"> 
    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> Accreditation Fee</span> <br/> <p class="help-block"> <b style="color:#888">Category:</b>{{object.license_type|upper}} <br/> <b style="color:#888">Type:</b> {{object.application_type|upper}} </p> </div> 
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> N800,000.00 </span> </div>
    </div> <!-- total --> 
     
    <div class="row" style="border-top:1px solid #555; border-bottom: 1px solid #555; padding:8px;"> 
    <div class="col-lg5 col-md-5 col-sm-3 col-xs-12"> Payment Status: <b style="color:#dc3545">PENDING</b> </div> 
    <div class="col-lg2 col-md-2 col-sm-3 col-xs-12 text-right"> <b>Total:</b> </div> 
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"> <span style="font-size:1.1em"> 
    N800,000.00
    </span> </div> 
    </div> <!-- buttons --> <br/> 

    {% endif %}

    <div class="row justify-content-center mx-auto"> 
    <div class="col-md-12 col-md text-center" style="background:#f7dedd"> 
    <p class="text-success text-left display-4 paragraph3 mb-0 mt-3">To Pay:</p>
    <p class="ml-2 text-left" style="font-size:14px"><strong>Log on to <a href="https://www.remita.net" target="_blank">www.remita.net</a>, click "Pay TSA and States", then Federal Government of Nigeria, {% if object.application_type == "Renewal - Government Hospital Internship" %} <b style="color:#dc3545">Name of Service/Purpose: Re-Accreditation Fee</b>. {% else %}  <b style="color:#dc3545">Name of Service/Purpose: Accreditation Fee</b>. {% endif %} Generate your RRR Number and pay with your credit/debit card or use the generated RRR to pay physically at any commercial bank. </br>

    To Redirect to Remita Site to generate RRR and make payment, Click  <a href="https://login.remita.net/remita/onepage/OAGFCRF/biller.spa" target="_blank" class="py-1 mx-1 mt-6 btn btn-warning"><i class="fa fa-check"></i> Pay on Remita</a> </br>

    Once payment is complete, click the Proceed to Payment button below to upload your payment details.</br>

    NB: You can close the application by clicking the Close Button below and continue later if you need to pay physically at the bank after generating your RRR at the Remita site</strong></p>
    </div>
    </div>

    <div class="row mt-1"> 
    <div class="col-lg-6"> 
    <img class="img-fluid" src="{% static 'img/remita.png' %}" /> 
    </div> 
        
    <div class="col-lg-6 text-right mt-3"> 
    <a href="{% url 'hospitals:hospitals_dashboard' %}" class="text-dark py-1 mr-2 btn btn-outline-danger"><i class="fas fa-times"></i>  Close</a>    
    <a href="{% url 'hospitals:pay_accreditation_fee' object.pk %}" class="py-1 mr-1 btn btn-warning"><i class="fa fa-check"></i> Continue to Payment</a>
    </div>
    </div>
    </div>
    </div>
        
    <br>
    
    </br>
    </div>





    <!-- div class="row"> 
    <div class="col-lg-6 col-md-4 col-sm-12 hidden-xs"> 
    <img class="img-fluid" src="{% static 'img/remita.png' %}" /> 
    </div> 
        
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 text-right"> 
    <br/> <a href="{% url 'hospitals:hospitals_dashboard' %}" class="text-dark py-1 mr-3 mt-6 btn btn-outline-danger"><i class="fas fa-times"></i>  <br/>Close</a>    
    <a href="{% url 'hospitals:pay_accreditation_fee' object.pk %}" class="py-1 mr-3 mt-6 btn btn-warning"><i class="fa fa-check"></i> <br/>Proceed with Payment</a>
    </div>
    </div>
    </div>
    </div>   
    <br>
    </br>
    </div>
 -->

<script>
    let timeout;
    const initialTimeout = 180000; // 3 minutes
    const extendTime = 300000; // 5 minutes

    function resetTimeout() {
        clearTimeout(timeout);
        timeout = setTimeout(showTimeoutAlert, initialTimeout);
    }

    function showTimeoutAlert() {
        let extendSession = confirm("Your session is about to expire due to inactivity. Do you want to extend your session?");
        if (extendSession) {
            resetTimeout(); // Extend session by 5 more minutes
        } else {
            alert("Session expired. You will be redirected.");
            window.location.href = "{% url 'hospitals:hospitals_dashboard' %}"; // Redirect on expiration
        }
    }

    // Reset timeout on user activity
    document.addEventListener("mousemove", resetTimeout);
    document.addEventListener("keypress", resetTimeout);
    document.addEventListener("click", resetTimeout);

    // Start the initial timeout
    resetTimeout();
</script>

    {% endblock %}
