{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Hospitals Look Up {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_lookup.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
{% endblock %}


{% block content %}

<main class="container">
       <div class="row">
           <div class="col col-lg-12">
            <h3>Hospital Data Look up</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="mydata">
                    <thead>
                     <tr style="background: #34495E;">
                       <td style="color: #fff;" >Application ID</td>
                       <td style="color: #fff;" >Hospital Name</td>
                       <td style="color: #fff;" >State</td>
                       <td style="color: #fff;" >Services</td>
                       <td style="color: #fff;" >Equipment</td>
                       <td style="color: #fff;" >Radiographer</td>
                       <td style="color: #fff;" >Reg Date</td>
                     </tr>
                    </thead>
                    <tfoot>
                     <tr style="background: #34495E">
                       <td style="color: #fff;" >Application ID</td>
                       <td style="color: #fff;" >Hospital Name</td>
                       <td style="color: #fff;" >State</td>
                       <td style="color: #fff;" >Service</td>
                       <td style="color: #fff;" >Equipment</td>
                       <td style="color: #fff;" >Radiographer</td>
                       <td style="color: #fff;" >Reg Date</td>
                     </tr>
                    </tfoot>
                    <tbody>
                    {% if hospital %}
                      {% for hospital in hospital %}
                      <tr>
                        <td>{{hospital.id}} </td>
                        <td>{{hospital.hospital_name}}</td>
                        <td>{{hospital.state}}</td>
                        <td>{{hospital.services}}</td>
                        <td>{{hospital.equipment}}</td>
                        <td>{{hospital.radiographers}}</td>
                        <td>{{hospital.reg_date_pretty}}</td>
                     </tr>
                     {% endfor %}
                    {% else %}
                      <div class="col-md-12">
                        <p>No Hospitals Available</p>
                      </div>

                    {% endif %}
                  </tbody>
            </table>
            </div>
           </div>
       </div>
    </main>



<!--Jquery plugin-->
  <script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
  <script>
  $('#mydata').dataTable();

  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>


{% endblock %}
