{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/all.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


            {% block styles %} {% endblock %}
            <title>RRBN Monitoring Portal {% block title %}{% endblock %}</title>
          </head>


        <body>
            <header>
                <div class="container-fluid">
                   <div class="col-md-6 mt-2 py-2">
                        <img class="logo ml" src="{% static 'img/rrbn-logo.png' %}" alt="">
                    </div>
                </div>
                <div class="row green mt-2">
                    <div class="container pt-2 pb-2">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-3 col-sm-12 mb-2 ml-2">
                              <i class="fas fa-hospital fa-2x text-white my-1"></i><span
                                    class=" ml-3 text-white font-weight-bold size22">{{ user.hospital_name }}</span></div>
                            <div class="col-md-3 col-sm-12 mb-2 push-left offset-md-2"><i
                                    class="fas fa-laptop fa-2x text-white my-1"></i><span
                                    class=" ml-3 text-white font-weight-bold size22">{{ user.hospital_type }}</span></div>
                            <div class="col-md-3 mr-md-0 col-sm-12 mx-auto px-0">
                              <div class="d-flex justify-content-end">
                               
                                    <div class="dropdown">
                                        <a class="text-white mr-3 py-1 btn btn-warning dropdown-toggle" href="#" role="button"
                                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Go to
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="{% url 'hospitals:hospitals_dashboard' %}">Dashboard</a>
                                        <a class="dropdown-item" href="#">Continue New Applications</a>
                                        <a class="dropdown-item" href="#">My Application History</a>
                                        <a class="dropdown-item" href="#">Renew Practice License</a>
                                        <a class="dropdown-item" href="#">My e-payment History</a>
                                        <a class="dropdown-item" href="#">License Types & Fees</a>
                                        <a class="dropdown-item" href="#">My Portal Account</a>
                                        <a class="dropdown-item" href="#">Application Guidelines</a>
                                        <a class="dropdown-item" href="#">Download User Guide</a>
                                        </div>
                                    </div>
                                    <a href="javascript:{document.getElementById('logout').submit()}" onclick="" class="btn btn-danger py-1">
                                      <form id="logout" method="POST" action="{% url 'accounts:logout' %}">
                                        {% csrf_token %}
                                        <input type="hidden" />
                                      </form><i class="fa fa-power-off"> </i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  </header>



  {% block content%} {%endblock%}




  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
     <script src="{% static 'js/popper.min.js' %}"></script>
     <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

       <footer class="green">
           <div class="container">
               <div class="row">
                   <div class="col-md-3 col-sm-12">
                       <p class="text-white ft">RRBN</p>
                       <p class="text-white">
                           RRBN's key mandate is to regulate the practice of radiography in Nigeria.
                       </p>
                       <p class="text-white ft">
                           RRBN Monitoring and Emforcement portal Automates all processes in RRBN M&E processes.
                       </p>
                   </div>
                   <div class="col-md-3 col-sm-12">
                       <p class="text-white ft">Home Links</p>
                       <a class="text-white flink ft" href="index.html">Home</a><br />
                       <a class="text-white flink ft" href="about-us.html">About</a><br />
                       <a class="text-white flink ft" href="services.html">Services</a><br />
                       <a class="text-white flink ft" href="help.html">Help</a><br />
                   </div>
                   <div class="col-md-3 col-sm-12">
                       <p class="text-white ft">External Links</p>
                       <a class="text-white flink ft" href="#">RRBN</a><br />
                       <a class="text-white flink ft" href="#">ARN</a><br />
                       <a class="text-white flink ft" href="#">NJIRT</a><br />
                       <a class="text-white flink ft" href="#">MINISTRY OF HEALTH</a>
                   </div>
                   <div class="col-md-3 col-sm-12">
                       <p class="text-white ft">Contact Us</p>
                       <p class="text-white flink ft">
                           Federal Secretariat Complex, Phase I, Annex III, 4th Floor, <br>Central Area - Abuja, Nigeria.
                       </p>
                       <p class="text-white ft">+234 092914928</p>
                       <p class="text-white ft">info@rrbn.gov.ng</p>
                       <p class="text-white ft">www.rrbn.gov.ng</p>
                   </div>
               </div>
           </div>
       </footer>
       <div class="copyright">
           <div class="copyright-container">
               <center>
                   <p>
                       &copy All Rights Reserved RRBN 2019</p>
               </center>
           </div>
       </div>
   </body>

   </html>
