{% extends 'hospitals/hospital_base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}
<main class="container">
    <div class="row mt-2 pt-2">
            <div class="col text-center p-0 m-0">
                <p class="text-secondary display-4 paragraph2" style="line-height: 12px">NEW HOSPITAL REGISTRATION - REQUIRED DOCUMENTS UPLOAD</p>
                <hr>
                </div>
    </div>

    <div class="row mt-0 mb-3">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <ul class="prog-ul d-flex list-unstyled">
           <li class="prog active"><small>HOSPITAL INFO SUBMISSION</small></li>
             <li class="prog "><small>PAYMENT INFORMATION UPLOAD</small></li>
             <li class="prog "><small>FACILITY INSPECTION</small></li>
             <li class="prog "><small>LICENSE ISSUANCE</small></li>

          </ul>
        </div>
      </div>


    <section>
    <div class="container-fluid">
        <div class="row rounded pl-3 py-1 justify-content-center align-items-center" style="background-color: #bfe3f8;">
            <div class="row">
               <i class="fas fa-info-circle fa-2x py-1" style="color: #05567b;"></i>      
                <p class="lead ml-3 py-auto my-auto" style="color: #05567b;">
                Upload CAC,Radiographer Practice License and Form C07</p>
        </div>
    </div>
    </div>
</section>



    <div class="row">
        <div class="col-md-5 mt-3">
            <div class="col-md-12">

                <div class="row">
                    <span class="col-5">Hospital Name:</span>
                    <span class="col-6"><strong>{{object.hospital_name}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">RC Number:</span>
                    <span class="col-6"><strong>{{object.rc_number}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">Phone:</span>
                    <span class="col-6"><strong>{{object.phone}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">Email:</span>
                    <span class="col-6"><strong>{{object.email}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">State:</span>
                    <span class="col-6"><strong>{{object.state}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">City:</span>
                    <span class="col-6"><strong>{{object.city}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">Address:</span>
                    <span class="col-6"><strong>{{object.address}}</strong></span>
                </div>

                <div class="row">
                    <span class="col-5">Services:</span>
                    <span class="col-6"><strong>{{object.services}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">Equipment:</span>
                    <span class="col-6"><strong>{{object.equipment}}</strong></span>
                </div>
                <div class="row">
                    <span class="col-5">Radiographer:</span>
                    <span class="col-6"><strong>{{object.radiographers}}</strong></span>
                </div>



            </div>
        </div>
        <div class="col-md-7 mt-3">
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <div class="col-md-7 mt-1 ml-1">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        I agree that all my details are correct!
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.

                    </div>
                </div>
            
        </div>   
       </div>
       
            <hr>
            <div class="d-flex justify-content-end">   
            <a href="{% url 'hospitals:hospitals_dashboard' %}" class="text-dark py-1 mr-3 mt-6 btn btn-outline-dark"><i class="fas fa-times"></i> Cancel</a>
            <a href="{% url 'hospitals:status' %}" class="text-dark py-1 mr-3 mt-6 btn btn-warning"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go Back</a>
            <button type="submit" class="text-white btn btn-success py-1 mt-6" name="_save"> Proceed &#x21E8;</button>
             </form>
            </div>

  
</main>
{% endblock %}