{% extends 'hospitals/hospitals_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}
<main class="container">


<!-- Banner -->
<section>
    <div class="container">
        <div class="row mt-2 pt-2">
             <div class="col text-center p-0 m-0">
                <p class="text-secondary display-4 paragraph2">HOSPITAL INFO SUBMISSION CONFIRMATION</p>
                <hr>
                
   <div class="row mt-0 mb-3">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <ul class="prog-ul d-flex list-unstyled">
           <li class="prog active"><small>HOSPITAL INFO SUBMISSION</small></li>
             <li class="prog "><small>PAYMENT INFORMATION UPLOAD</small></li>
             <li class="prog "><small>FACILITY INSPECTION</small></li>
             <li class="prog "><small>LICENSE ISSUANCE</small></li>

          </ul>
        </div>
      </div>

    </div>
    </div>
    </div>


</section>

<!-- End of Banner -->

<section>
    <div class="container">
        <div class="row mx-2  mx-sm-0 pl-md-5 pr-md-3 px-sm-2 rounded " style="background-color: #bfe3f8;">
            <div class="mb-3 pt-3">
                <p class="lead" style="color: #05567b;">Dear <strong>{{object.hospital_name}}</strong> your hospital information has been submitted successfully to RRBN.  Your Application Number is <strong>{{object.id}}</strong>. Brief details of your registration are as follows:</p>    
        </div>
     </div>
    </div>

</section>


<!-- Skills -->


  

<section>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-sm-10 my-2 pt-3 ml-2 pl-2" >


                <div class="row">
                    <p class="col-4 lead">Application No:</p>
                    <p class="col-6 lead"><strong>{{object.id}}</strong></p>
                </div>

                 <div class="row">
                    <p class="col-4 lead">Hospital Name:</p>
                    <p class="col-6 lead"><strong>{{object.hospital_name}}</strong></p>
                </div>

                <div class="row">
                    <p class="col-4 lead">RC Number:</p>
                    <p class="col-6 lead"><strong>{{object.rc_number}}</strong></p>
                </div>

                <div class="row">
                    <p class="col-4 lead">Phone:</p>
                    <p class="col-6 lead"><strong>{{object.phone}}</strong></p>
                </div>

                <div class="row">
                    <p class="col-4 lead">Email:</p>
                    <p class="col-6 lead"><strong>{{object.email}}</strong></p>
                </div>

                <div class="row">
                    <p class="col-4 lead">City:</p>
                    <p class="col-6 lead"><strong>{{object.city}}</strong></p>
                </div>

                <div class="row">
                    <p class="col-4 lead">Address:</p>
                    <p class="col-6 lead"><strong>{{object.address}}</strong></p>
                </div>
        
    
    </div>
    </div>    
</section>

 <div class="row mt-2">
            <div class="col-lg-10 m-auto">

                <p class="lead text-uppercase" style="color: #05567b;"><strong>Next step is Payment of N50,000 registration fee</strong></p>
                <p class="lead" style="color: #05567b;"><strong>To pay and obtain your receipt, kindly follow the instructions below:</strong></p>
                
                <p class="lead"><strong>STEP 1:</strong> Logon to www.remita.net </p>
                <p class="lead"><strong>STEP 2:</strong> Click Pay Fed Govt Agency</p>
                <p class="lead"><strong>STEP 3:</strong> Choose Radiographers Registration Board of Nigeria from the list and complete the relevant fields</p>
                <p class="lead"><strong>STEP 4:</strong>Generate your RRR Number and pay with your credit/debit card or </p>
                <p class="lead"><strong>STEP 5:</strong> Use the generated RRR to pay physically at any commercial bank</p>
                <p class="lead"><strong>STEP 6:</strong> Click Proceed to Payment if you have ready at this point your payment acknowledgement from the bank or the remita receipt if you completed the payment with your debit card.  Otherwise click Continue Later and log back on when you have your receipt ready.</p>
                
            </div>
        </div>

                        
                        <div class="row justify-content-center align-items-center">
                        <a href="{% url 'hospitals:hospitals_dashboard' %}"class="btn btn-outline-secondary px-3 mx-4 py-1"><i class="fa fa-times"></i> Continue Later</a>

                       
                         <a href= "{% url 'hospitals:payment_processing' id=object.id %}" class="btn btn-outline-success px-3 mx-4 py-1"> Proceed to Payment  <i class="fa fa-play text-success"></i></a>
                        </div>
                   
         <!-- end of banner -->  




    </main>
{% endblock %}
