{% extends 'hospitals/hospitals_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}
<main class="container">

    <div class="row mt-3">
        <div class="col-lg-10 col-md-12 col-sm-12 m-auto">
          <ul class="prog-ul d-flex list-unstyled">
            <li class="prog "><small>SUBMIT BASIC HOSPTIAL DETAILS</small></li>
            <li class="prog "><small>CONFIRM YOUR SUBMISSION</small></li>
             <li class="prog active"><small>REGISTERATION REQUEST SUBMITTED</small></li>
          </ul>
        </div>
      </div>

        <div class="row bg-success rounded col-md-8 m-auto">
           
               
                <p class="text-white text-justify pt-2">Your registration details has been submitted successfully to RRBN.  Your Application Number is {{object.id}}.  <br>
                Brief details of your registration are as follows:</p>
            
        </div>


         <div class="row justify-content-center">
         <div class="col-lg-8 col-md-8 col-sm-10">
        
            <table class="table table-striped"> 
            <tbody>
            <tr class="" style="background:white; border-top:2px solid #ecd863">
            <td width="30%">Application No:</td> 
            <td width="70%" class="text-left"><b>{{object.id}}</b></td> 
            </tr> 
            <tr class="" style="background:white; border-top:2px solid #ecd863"> 
            <td width="30%">Hospital Name:</td> 
            <td width="70%" class="text-left"><b>{{object.hospital_name}}</b></td> 
            </tr> 
            <tr class="" style="background:white; border-top:2px solid #ecd863"> 
            <td width="30%">RC Number:</td> 
            <td width="70%" class="text-left"><b>{{object.rc_number}}</b></td> 
            </tr>
            <tr class="" style="background:white; border-top:2px solid #ecd863"> 
            <td width="30%">Phone:</td> 
            <td width="70%" class="text-left"><b>{{object.phone}}</b></td> 
            </tr> 
            <tr class="" style="background:white; border-top:2px solid #ecd863"> 
            <td width="30%">Email:</td> 
            <td width="70%" class="text-left"><b>{{object.email}}</b></td> 
            </tr> 
            </tr>
            <tr class="" style="background:white; border-top:2px solid #ecd863"> 
            <td width="30%">City:</td> 
            <td width="70%" class="text-left"><b>{{object.city}}</b></td> 
            </tr>
            <tr class="" style="background:white; border-top:2px solid #ecd863; border-bottom:2px solid #ecd863"> 
            <td width="30%">Address:</td> 
            <td width="70%" class="text-left"><b>{{object.address}}</b></td> 
            </tr>
            </tbody>
            </table> 
        </div>
        </div>

          <!-- banner -->
         <section>
             
                 <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-8 col-sm-10">
                   
                        <p>Next step is Payment of N50,000 registration fee. <br>
                        Kindly have ready your Remitta Payment Receipt as you will need to input the details and upload a pdf copy of it in the next section. <br>
                        To pay and obtain your receipt, kindly follow the instructions below:<br>
                        1. Logon to remita.net <br>
                        2. <br>
                        3. <br>
                        4. <br>
                        5. <br>
                        </p>

                        
                        <div class="row justify-content-center align-items-center">
                        <a href="{% url 'index' %}" class="btn btn-outline-secondary px-4 mx-4"><i class="fa fa-times"></i> Close & Continue Later</a>

                        
                         
                       
              
                           <td><a href= "{% url 'hospitals:payment_processing' id=object.id %}" class="btn btn-outline-success px-4 mx-4">Proceed to Payment  <i class="fa fa-play text-success"></i></a>
                         
                      

                        </div>
                   
                 </div>
             </div>
         </section>
         <!-- end of banner -->  




    </main>
{% endblock %}
