{% extends 'hospitals/hospital_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}


<div class="row rounded pl-3 justify-content-center align-items-center" style="background-color: #bfe3f8;">
          
</div>
    

<!-- Skills -->

<section>


<div class="container">
<div class="container mt-4"> 
{% if object.hospital.license_type == "Radiography Practice" %}
<p class="text-secondary display-4 paragraph2">
Radiography License Application Details
<span style="float:right; font-size:14px"> 
<br/> License Number: <b>{{object.license_no}}</b> </span> </p> </div> 
<hr>
<div class="alert text-success" style="background-color: #fffed6; font-size:18px"> Dear <b>{{object.hospital_name|upper}}</b>, <br/>Your Radiography Practice License Application has been successfully processed. You can download an electronic copy of the license below. Congratulations! <br/><br/> <a style="font-size:1.1em" class="btn btn-outline-success" href="{% url 'hospitals:license_download' id=object.id %}" target="_blank"> <i class="fa fa-download"></i> Download License </a></div> 
<div class="container">
<p class="display-4 paragraph3" style="color: #05567b;">Summary Details of Radiography Practice License Application </p></div>
{% else %}
<p class="text-secondary display-4 paragraph2">
Radiography Internship Accreditation Application License Details
<span style="float:right; font-size:14px"> 
<br/> License Number: <b>{{object.license_no}}</b> </span> </p> </div> 
<hr>
<div class="alert text-success" style="background-color: #fffed6; font-size:18px"> Dear <b>{{object.hospital_name|upper}}</b>, <br/>Your Radiography Internship License Application has been successfully processed. You can download an electronic copy of the license below. Congratulations! <br/><br/> <a style="font-size:1.1em" class="btn btn-outline-success" href="{% url 'hospitals:license_download' id=object.id %}" target="_blank"> <i class="fa fa-download"></i> Download License </a></div> 
<div class="container">
<p class="display-4 paragraph3" style="color: #05567b;">Summary Details of Radiography Internship License Application </p></div>
{% endif %}
<div class="row ml-1 mb-3">
<div class="col-md-3"> <b>Application Number:</b> <br> {{object.application_no}}</div> <div class="col-md-3"> <b>Application Type:</b><br> {{object.hospital.application_type}}</div> <div class="col-md-3"> <b>License Type:</b> <br> {{object.hospital.license_type}}   </div> <div class="col-md-3"> <b>Class of License:</b><br> {{object.license_class}}</div> <br/> </div> 
<div class="row ml-1 mb-3"><div class="col-md-3">  <b>Hospital/Centre Address:</b><br> {{object.hospital_name.address}}  </div> <div class="col-md-3"> <b> Phone:</b><br> {{object.hospital_name.phone_no}} </div> <div class="col-md-3">  <b>Email:</b><br>{{object.hospital_name.hospital_admin}}</div> <div class="col-md-3"> <b>Last Inspection Date:</b><br/> {{object.schedule.inspection_date}} </div><br/></div>
 <div class="row ml-1"> <div class="col-md-3"> <b>License Issue Date:</b><br/> {{object.issue_date}}  </div><div class="col-md-3"> <b>License Expiry Date:</b><br/> {{object.expiry_date}} </div> <div class="col-md-3"> <b>License Number:</b><br/> {{object.license_no}}  </div> <div class="col-md-3"> <b>License Status:</b><br/> 
  {% if object.license_status == "Expired" %}


<span style="color:#F00"><b>{{object.license_status}}</b></span>  

{% else %}

<span style="color:#41963F"><b>{{object.license_status}}</b></span> 

{% endif %}

</div> </div> <p></p> 
<hr>
<div class="d-flex justify-content-end mb-3">   
<a href="{% url 'hospitals:hospitals_dashboard' %}" class="btn btn-outline-dark px-3"><i class="fa fa-window-close text-danger"></i>  Return to Dashboard</a>
</div>
</div> 

    
</section>

<!-- End of Skills -->

{% endblock %}