{% extends 'hospitals/hospital_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/list_registration.css' %}" >
{% endblock %}

{% block content %}

<section class="p-2">
   
    <div class="row mt-2 ">
    <div class="container mb-2">
    <p class="text-info display-4 paragraph3 ml-3">Registrar Final Approval for {{object.hospital_name}} concluded</p>
    <hr class="ml-3">
    </div>
    </div>

    </section>

<section class="my-0">
    <div class="container">
   <div class="row rounded ml-3 mr-0 pl-1 pr-0 justify-content-center align-items-center" style="background-color: #bfe3f8;">
            <div class="col-md-1 mt-1 pt-1 px-auto">
               <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
                </div>

               <div class="col-md-11 mt-2 pt-2 pl-0 ml-0">
                <p class="lead" style="color: #05567b;"> Congratulations.  The Registrar of Radiographers Registration Board of Nigeria has given final approval for Radiography Practice Licence Issuance for your hospital
                 <strong>{{object.hospital_name}}</strong>. An electronic copy of your Radiography Practice License Application will become available for download immediately its issued.  Kindly see brief details of your application below:</p>
               </div>
    </div>
    </div>
    </section>

<!-- Skills -->

<section>
    <div class="container">
        <!-- Title -->
<div class="row">
    <div class="col mb-0">
        <p class="text-success lead pt-4 pl-3"><strong>Radiography Practice License Application Details:</strong></p>
    </div>
</div>
<div class="row mx-1 py-0 my-0">
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">Application Number:</p>
        <p class="lead text-secondary m-0"><strong>{{object.application_no}}</strong></p>  
        <br>
        <br>
        <p class="lead text-secondary m-0">Inspection Date:</p>
        <p class="lead text-secondary m-0"><strong>{{object.schedule.inspection_date}}</strong></p>  
        <br> 
    </div>

    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">Hospital/Centre Address:</p>
        <p class="lead text-secondary m-0"><strong>{{object.hospital_name.address}}</strong></p>
        <br>
       
        <p class="lead text-secondary m-0">Inspection Zone:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.schedule.inspection_zone}}</strong></p>  
        <br> 
    </div>
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">License Type:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.hospital_name.license_type}}</strong></p>
        <br>
        <br>
        <p class="lead text-secondary m-0">Inspection Score:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.inspection_total}}</strong></p>
        <br>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-2">
        <p class="lead text-secondary m-0">Available Modalities:</p>
        <p class="lead text-secondary m-0"><strong>{{object.hospital.equipment}}</strong></p>  
        <br>
          
        <br>
        
    </div>
    </div>
    

    <hr>
    <div class="d-flex justify-content-end">   
    
    
    
    <a href="{% url 'hospitals:hospitals_dashboard' %}" class="btn btn-warning text-white p-2 mr-3 mt-2 mb-5 "><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dashboard</a>
    
   
    
    
    </div> 

    </div>  
    
</section>

<!-- End of Skills -->

{% endblock %}

