{% extends 'hospitals/hospital_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %} 
<section class="p-2">
<div class="container">
<div class="row mt-2 ml-2">
<div class="col text-left mb-2">
<p class="text-success display-4 paragraph3">Radiography Practise License Payment Processing</p>
<hr>
</div>
</div>
</div>
</section>

<section class="my-0">
<div class="container">
<div class="row rounded ml-3 pl-2 justify-content-center align-items-center" style="background-color: #bfe3f8;">
    
<div class="col-md-12 pt-2 pb-0">
<p class="lead" style="color: #05567b;">
<strong>{{object.hospital_name}}</strong> Radiography Practise License Application is currently undergoing verifications</p>           
</div>
</div>
</div>
</section>

    

<!-- Skills -->

<!-- Application Summary -->
<section>
<div class="container">
<div class="row">
<div class="col mb-0">
<p class="text-success lead pt-4 pl-4"><strong>Application Summary</strong></p>
</div>
</div>

<div class="row mx-2 py-0 my-0 text-center text-md-left">
<!-- Application Number & Examinations -->
<div class="col-lg-3 col-md-6 col-sm-10 mx-auto mb-3">
<p class="lead text-secondary m-0">Application Number:</p>
<p class="lead text-secondary"><strong>{{ object.application_no }}</strong></p>

<p class="lead text-secondary m-0">Radiography Examinations:</p>
<p class="lead text-secondary text-uppercase"><strong>{{ object.hospital.equipment }}</strong></p>
</div>

<!-- License Type & Start Date -->
<div class="col-lg-3 col-md-6 col-sm-10 mx-auto mb-3">
<p class="lead text-secondary m-0">License Type:</p>
<p class="lead text-secondary"><strong>{{ object.hospital.license_type }}</strong></p>

<p class="lead text-secondary m-0">Application Start Date:</p>
<p class="lead text-secondary text-capitalize"><strong>{{ object.hospital.date }}</strong></p>
</div>

<!-- Facility Address & Vetting Officer -->
<div class="col-lg-3 col-md-6 col-sm-10 mx-auto mb-3">
<p class="lead text-secondary m-0">Facility Address/Location:</p>
<p class="lead text-secondary"><strong>{{ object.hospital.facility_address }}</strong></p>

<p class="lead text-secondary m-0 mt-3">Vetted By:</p>
{% if object.vetting_officer %}
<p class="lead text-secondary text-capitalize"><strong>{{ object.vetting_officer }}</strong></p>
{% else %}
<p class="lead text-secondary text-capitalize"><strong>Pending Verifications</strong></p>
{% endif %}
</div>

<!-- Radiographer & Vet Date -->
<div class="col-lg-3 col-md-6 col-sm-10 mx-auto mb-4">
<p class="lead text-secondary m-0">Radiographer In Charge:</p>
<p class="lead text-secondary"><strong>{{ object.hospital.radiographer_in_charge }}</strong></p>

<p class="lead text-secondary m-0 mt-4">Vetted On:</p>
{% if object.vet_date %}
<p class="lead text-secondary text-capitalize"><strong>{{ object.vet_date_pretty }}</strong></p>
{% else %}
<p class="lead text-secondary text-capitalize"><strong>Pending</strong></p>
{% endif %}
</div>
</div>

<hr>

<!-- Return Button -->
<div class="d-flex justify-content-end">
<a href="{% url 'hospitals:hospitals_dashboard' %}" class="btn btn-warning text-white p-2 mr-3 mt-2 mb-5">
<i class="fa fa-angle-double-left"></i> Return to Dashboard
</a>
</div>
</div>
</section>

<!-- End of Skills -->

{% endblock %}