{% extends 'hospitals/hospital_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-3">

{% for object in object %}

<p class="text-success display-4 paragraph2">My Radiography Practise License and Internship Accreditation Applications<span style="float:right; font-size:14px"> 

<!-- <br/> Hospital Code: <b>{{object.hospital_code}}</b> -->
</span> </p>
<hr>
</div> 

<div class="container"> 
<div class="row"> 

    

<div class="col-lg-12 col-md-12 col-sm-12 col-12"> 
<div class="alert" style="background-color: #f7dedd; font-size:18px"> Dear <b>{{object.hospital_name.hospital_name|upper}}</b>, please choose from the list below to start a new application for a Radiography Practice Permit or Internship Accreditation Application. Kindly note that: <br> <b>1.</b> If you already have an on-going application for a particular category, a new application will not be considered.<br/><b>2.</b> If you have an existing valid certificate or permit for a category, a new application under the same category will not be considered.</div> 
</div> 
</div> 
   

<div class="row"> 
<div class="col-md-10 m-auto"> <div class="row"> <section class="portlet" style="background:#FFFFFF"> <div style="border-bottom:0;"> </div> </section> </div> 

<table class="table table-hover"> 
<thead> 
<tr> <th width="2%">SN</th> 
<th width="40%">APPLICATION CATEGORY</th> 
<th width="20%">PROCESSING FEE</th> 
<th width="15%">VALIDITY</th> 
<th width="10%">&nbsp;</th> 
</tr> </thead> 

<tr> 
<td width="2%">1.</td> 
<td width="40%"><b>RADIOGRAPHY PRACTICE PERMIT</b></td> 
<td width="15%"> N200,000.00 (New Application only) plus cost of modalities (N20,000 per modality)</td> 
<td width="15%"> 1 Year </td> 
<td width="18%"> 
<a style="font-size:1.1em" class="btn btn-outline-success" href="{% url 'hospitals:start_new_radiography_license_application' object.pk %}">Start Now <i class="fa fa-play"></i>  </a> </td> 
</tr> 
<tr> 
<td width="2%">2.</td> 
<td width="40%"><b>INTERNSHIP ACCREDITATION</b> <br> <span style="font-size:14px">Government Hospitals (Teaching, Specialist, Neuropychiatric, Orthopedic, General Hospitals, Federal Medical Centers) </span></td> 
<td width="15%"> N800,000.00 </td> 
<td width="15%"> 4 Year(s) </td> 
<td width="18%"> <a style="font-size:1.1em" class="btn btn-outline-success" href="{% url 'hospitals:start_gov_internship_accreditation_application' object.pk %}">Start Now <i class="fa fa-play"></i>  </a>  </td> 
</tr> 

<tr> 
<td width="2%">3.</td> 
<td width="40%"><b>INTERNSHIP ACCREDITATION</b><br><span style="font-size:14px"> Private Hospitals (Teaching Hospitals,Specialist Hospitals, Diagnostic Centers, Radiotherapy Centers)
</span></td> 
<td width="15%"> Registration Fee of N200,000 plus N50,000 each for a minimum of two modalities, extra modalities attact N50,000 each</td> 
<td width="15%"> 4 Year(s) </td> 
<td width="18%"> <a style="font-size:1.1em" class="btn btn-outline-success" href="{% url 'hospitals:start_pri_internship_accreditation_application' object.pk %}">Start Now <i class="fa fa-play"></i>  </a> </td> 
</tr> 
</table> 
</div>
</div>
</div>

{% endfor %}
                               
<!-- End of Skills -->

{% endblock %}