asgiref==3.2.3
Django==3.0.3
django-bootstrap-modal-forms==2.0.0
django-crispy-forms==1.8.1
django-multiselectfield==0.1.12
django-ranged-response==0.2.0
django-simple-captcha==0.5.12
django-templateaddons3==1.0
django-tempus-dominus==5.1.2.13
django-widget-tweaks==1.4.8
html5lib==1.0.1
Pillow==7.0.0
Pmw==2.0.2
preppy==3.0.3
psycopg2-binary==2.8.4
pycparser==2.20
PyPDF2==1.26.0
pyRXP==2.2.1
pytz==2019.3
reportlab==3.5.66
rlextra==3.5.66
six==1.14.0
sqlparse==0.4.4
webencodings==0.5.1
xhtml2pdf==0.2.4
