{% extends 'base-reg.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}| Welcome {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}


{% block content %}

<section id="" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-body"> 
                <h3 class="text-center text-success" style="border-bottom:1px solid #bbb; padding:20px; padding-bottom:2px; padding-left:1px; margin-bottom:20px; ">Login to Continue</h3>
            
        
<div class="row justify-content-center text-success">

<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit" class="btn btn-success px-4">Login</button>



</form>
  </div>
  </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock %}