{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}

<main class="container">

<!-- Banner -->

<section class="pt-2 pl-3">
<div class="row ">
<div class="col mb-0">
<p class="text-info display-4 paragraph3">Radiography Internship Accreditation Application Details</p>
<hr>
</div>
</div>
</section>


<div class="row">
<div class="col-md-7 mt-0">
<div class="col-md-12">
<div class="row">
<p class="col-12 text-success lead">Application Summary</p>
</div>
<div class="row">
<span class="col-5"><strong>Application No:</strong></span>
<span class="col-6 ">{{object.application_no}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Hospital Name:</strong></span>
<span class="col-6 ">{{object.hospital_name}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Email:</strong></span>
<span class="col-6 ">{{object.hospital_name.hospital_admin}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Application Category:</strong></span>
<span class="col-6">{{object.hospital.license_type}}</span>
</div>


<div class="row">
<span class="col-5"><strong>Application Type:</strong></span>
<span class="col-6">{{object.hospital.application_type}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Facility Address:</strong></span>
<span class="col-6">{{object.hospital.facility_address}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Phone:</strong></span>
<span class="col-6">{{object.hospital_name.phone_no}}</span>
</div>

<div class="row">
 <span class="col-5"><strong>Listed Modalities:</strong></span>
 <span class="col-6">{{object.hospital.equipment}}</span>
 </div>

 {% if object.hospital.radiographer_in_charge %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer In Charge:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer_in_charge}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer_in_charge_license_no %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>R-I-C License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer_in_charge_license_no}}</span>
</div>
{% endif %}


{% if object.hospital.radiographer1 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 1:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer1}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer1_license_no  %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 1 License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer1_license_no }}</span>
</div>
{% endif %}

{% if object.hospital.radiographer2 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 2:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer2}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer2_license_no  %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 2 License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer2_license_no }}</span>
</div>
{% endif %}
                
{% if object.hospital.radiographer3 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 3:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer3}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer3_license_no  %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 3 License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer3_license_no }}</span>
</div>
{% endif %}

{% if object.hospital.staffname1 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 1 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname1}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation1 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 1 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation1}}</span>
</div>
{% endif %}

{% if object.hospital.staffname2 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 2 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname2}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation2 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 2 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation2}}</span>
</div>
{% endif %}

{% if object.hospital.staffname3 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 3 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname3}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation3 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 3 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation3}}</span>
</div>
{% endif %}

{% if object.hospital.staffname4 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 4 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname4}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation4 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 4 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation4}}</span>
</div>
{% endif %}

{% if object.hospital.staffname5 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 5 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname5}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation5 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 5 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation5}}</span>
</div>
{% endif %}

</div>
<br>
 
<div class="col-md-12">
<div class="row">
<p class="col-12 text-success lead">Control Details</p>
</div>
<div class="row">
<span class="col-5"><strong>Inspection 
  Date:</strong></span>
<span class="col-6">{{object.schedule.inspection_date}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Inspection Zone:</strong></span>
<span class="col-6">{{object.schedule.inspection_zone}}</span>
</div>  
</div>
</div>



<div class="col-md-5 mt-0">
<p class="text-success lead">Accreditation Score</p>
<span><strong><mark>{{object.appraisal_total}}</mark></strong></span>
<br>
<br>
<p class="text-success lead">Accreditation Comments/Observations</p>
<span><mark>{{object.appraisal_comments}}</mark></span>
<br>
<br>
<p class="text-success lead">Facility Inspection Details</p>

<div class="row py-0">
<table class="table table-hover">
<thead style="background-color: #bfe3f8;">
<tr>
<th scope="col lead" style="color: #05567b;">Parameter</th>
<th scope="col lead" style="color: #05567b;">Value</th>
</tr>
</thead>


<tbody>
<tr> <td width="50%" scope="col">Inspection Area Office:</td> <td width="50%" scope="col">{{object.schedule.inspection_zone}}</td> </tr> 
<tr> <td width="50%" scope="col">Inspection Date:</td> <td width="50%" scope="col">{{object.schedule.inspection_date}} </td> </tr> 
                       
 </tbody>
  </table>
 </div>

                
 </div>

 </div>
 <hr>
<div class="d-flex justify-content-end">   
<a href="{% url 'monitoring:monitoring_dashboard' %}" class="btn btn-outline-dark px-3"><i class="fa fa-window-close text-danger"></i>  Return to Dashboard</a>
<a href="{% url 'monitoring:issue_accreditation' object.pk %}" class="btn btn-success ml-4 px-3"><i class="fa fa-podcast text-white"></i>  Issue Internship Accreditation Certificate</a>

</div>
</main>

{% endblock %}