{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}

<main class="container">

<!-- Banner -->
<section class="pt-2 pl-3">
   
<div class="row ">
<div class="col mb-0">
<p class="text-info display-4 paragraph3">Hospital/Centre Internship Accreditation Details</p>
<hr>
</div>
</div>
</section>

<div class="row">
<div class="col-md-7 mt-0">
<div class="col-md-12">
<div class="row">
<span class="col-5"><strong>Application No:</strong></span>
<span class="col-6 ">{{object.application_no}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Hospital Name:</strong></span>
<span class="col-6 ">{{object.hospital_name}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Email:</strong></span>
<span class="col-6 ">{{object.hospital_name.hospital_admin}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Application Category:</strong></span>
<span class="col-6">{{object.hospital.license_type}}</span>
</div>


<div class="row">
<span class="col-5"><strong>Application Type:</strong></span>
<span class="col-6">{{object.hospital.application_type}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Contact Address:</strong></span>
<span class="col-6">{{object.hospital.facility_address}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Phone:</strong></span>
<span class="col-6">{{object.hospital_name.phone_no}}</span>
</div>

<div class="row">
 <span class="col-5"><strong>Listed Modalities:</strong></span>
 <span class="col-6">{{object.hospital.equipment}}</span>
 </div>


 {% if object.hospital.radiographer_in_charge %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer In Charge:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer_in_charge}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer_in_charge_license_no %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>R-I-C License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer_in_charge_license_no}}</span>
</div>
{% endif %}


{% if object.hospital.radiographer1 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 1:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer1}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer1_license_no  %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 1 License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer1_license_no }}</span>
</div>
{% endif %}

{% if object.hospital.radiographer2 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 2:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer2}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer2_license_no  %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 2 License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer2_license_no }}</span>
</div>
{% endif %}
                
{% if object.hospital.radiographer3 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 3:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer3}}</span>
</div>
{% endif %}

{% if object.hospital.radiographer3_license_no  %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Radiographer 3 License No:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.radiographer3_license_no }}</span>
</div>
{% endif %}

{% if object.hospital.staffname1 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 1 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname1}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation1 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 1 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation1}}</span>
</div>
{% endif %}

{% if object.hospital.staffname2 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 2 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname2}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation2 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 2 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation2}}</span>
</div>
{% endif %}

{% if object.hospital.staffname3 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 3 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname3}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation3 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 3 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation3}}</span>
</div>
{% endif %}

{% if object.hospital.staffname4 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 4 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname4}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation4 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 4 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation4}}</span>
</div>
{% endif %}

{% if object.hospital.staffname5 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 5 Name:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffname5}}</span>
</div>
{% endif %}

{% if object.hospital.staffdesignation5 %}
<div class="row">
<span class="col-5" style="font-size:1.1em;"><strong>Staff 5 Designation:</strong></span>
<span class="col-6" style="font-size:1.1em;">{{object.hospital.staffdesignation5}}</span>
</div>
{% endif %}






</div><br>
<div class="col-md-12">
<div class="row">
<p class="col-12 text-success lead">Control Details</p>
</div>
<div class="row">
<span class="col-5"><strong>Inspection Date:</strong></span>
<span class="col-6">{{object.schedule.inspection_date}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Inspection Zone:</strong></span>
<span class="col-6">{{object.schedule.inspection_zone}}</span>
</div>  
</div>
</div>

            
<div class="col-md-5 mt-0">
<p class="text-success lead">Appraisal Score</p>
<span><strong><mark>{{object.appraisal_total}}</mark></strong></span>
<br>
<br>
<p class="text-success lead">Accreditation Comments/Observations</p>
<span><mark>{{object.appraisal_comments}}</mark></span>
<br>
<br>
<p class="text-success lead">Accreditation Uploads</p>
<div class="row py-0">
<table class="table table-hover">
<thead style="background-color: #bfe3f8;">
<tr>
<th scope="col lead" style="color: #05567b;">Parameter</th>
<th scope="col lead" style="color: #05567b;">Value</th>
</tr>
</thead>
<tbody>
 {% if object.photo_main %}
 <tr> <td width="50%" scope="col">Photo Main:</td> 
 <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
 <a class="text-danger" href="{{object.photo_main.url}}"
 target="_blank"> Main Photo</a></td> 
 </tr>
 {% endif %}
{% if object.photo_1 %}
 <tr> <td width="50%" scope="col">Photo One:</td> 
  <td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.photo_1.url}}"
 target="_blank"> Photo One</a></td>  
</tr>
{% endif %}
{% if object.photo_2 %}
<tr> <td width="50%" scope="col">Photo Two:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
 <a class="text-danger" href="{{object.photo_2.url}}"
 target="_blank"> Photo Two</a></td>  
 </tr>
 {% endif %}
{% if object.photo_3 %}
<tr> <td width="50%" scope="col">Photo Three:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.photo_3.url}}"
target="_blank"> Photo Three</a></td>  
</tr>
{% endif %}
{% if object.photo_4 %}
<tr> <td width="50%" scope="col">Photo Four:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.photo_4.url}}"
target="_blank"> Photo Four</a></td>  
</tr>
{% endif %}
{% if object.photo_5 %}
<tr> <td width="50%" scope="col">Photo Five:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.photo_5.url}}"
target="_blank"> Photo Five</a></td>  
</tr>
{% endif %}
{% if object.photo_6 %}
<tr> <td width="50%" scope="col">Photo Six:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.photo_6.url}}"
target="_blank"> Photo Six</a></td>  
</tr>
{% endif %}
</tbody>
</table>
</div>
</div>
</div>
<hr>


{% if object.appraisal_status == 1 %}
<div class="d-flex justify-content-end">   
<a href="{% url 'monitoring:monitoring_dashboard' %}" class="btn btn-outline-dark px-3"><i class="fa fa-window-close text-danger"></i>  Return to Dashboard</a>

<a href="{% url 'monitoring:inspections_list' %}" class="btn btn-info ml-4 px-3"><i class="fa fa-window-close text-danger"></i> Return to Inspection Reports</a> 
<a href="javascript:{document.getElementById('approve_appraisal_report{{object.id }}').submit()}"><button class="btn btn-success ml-4 px-3"> Approve Accreditation Report<i class="fa fa-podcast text-white"></i></button> </a>
<a href="javascript:{document.getElementById('reject_appraisal_report{{object.id }}').submit()}"><button class="btn btn-danger ml-4 px-3"> Reject Accreditation Report<i class="fa fa-podcast text-white"></i></button></a> 
</div>

{% else %}

<div class="d-flex justify-content-end">   
<a href="{% url 'monitoring:inspections_list' %}" class="btn btn-info px-3"><i class="fa fa-window-close text-danger"></i> Return to Inspection Reports</a> 
             
<a href="{% url 'monitoring:monitoring_dashboard' %}" class="btn btn-outline-dark px-3 ml-4"><i class="fa fa-window-close text-danger"></i>  Return to Dashboard</a>     
</div>
{% endif %}







</main>








        



<!--end Copy here-->
<form id="approve_appraisal_report{{object.id }}" method="POST" action="{% url 'monitoring:approve_appraisal_report' object.id %}">
  {% csrf_token%}
  <input type="hidden">
  


</form>

<form id="reject_appraisal_report{{object.id }}" method="POST" action="{% url 'monitoring:reject_appraisal_report' object.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>






<!--Jquery plugin-->
  <script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script>
  $('#mydata').dataTable();

  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>


{% endblock %}
