{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% load custom_filters %}
{% block title %}| Radiography Practice License Applications{% endblock %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/allt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'css/list_registration.css' %}" >
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" >

{% endblock %}

{% block content %}


<div class="container">
<div class="row">
<div class="col col-lg-12">
            
<section class="px-2 pt-3 pb-2">
    <div class="row mt-3 mb-2">
    <div class="col text-left mb-1">
    <p class="text-secondary display-4 paragraph2">Applications List</p>
    <hr>
    </div>
    </div>
</section>

<div class="table-responsive-lg">
<table class="table table-striped table-bordered table-hover" id="mydata">
<thead>
<tr style="background: #41963F;">
<th class="small-text" style="color: #fff;" width="2%">SN</th>
<th class="small-text" style="color: #fff;" width="14%">Application No</th>
<th class="small-text" style="color: #fff;" width="13%">Submitted On</th>
<th class="small-text" style="color: #fff;" width="18%">Application Category</th>
<th class="small-text" style="color: #fff;" width="22%">Application Type</th>
<th class="small-text" style="color: #fff;" width="16%">Stage</th>
<th class="small-text" style="color: #fff;" width="15%">Action</th>
</tr>
</thead>
<tbody>
{% if applications %}
{% for object in applications %}
<tr>
<td width="2%">{{ forloop.counter }}</td>
<td width="14%">{{ object.application_no|default:"N/A" }}</td>
<td width="13%">
    {% if object.model_name == "Document" %}
        {{ object.date|default:"N/A" }}
    {% else %}
        {{ object.hospital.date|default:"N/A" }}
    {% endif %}
</td>
<td width="18%">
    {% if object.model_name == "Document" %}
        {{ object.license_type|default:"N/A" }}
    {% else %}
        {{ object.hospital.license_type|default:"N/A" }}
    {% endif %}
</td>
<td width="22%">
    {% if object.model_name == "Document" %}
        {{ object.application_type|default:"N/A" }}
    {% else %}
        {{ object.hospital.application_type|default:"N/A" }}
    {% endif %}
</td>
<td width="16%">{{ object|get_status_message|default:"Unknown" }}</td>
<td width="15%">
    {% with object|get_monitoring_action_url as action_url %}
    {% if action_url %}
    <a href="{{ action_url }}" class="btn btn-outline-warning btn-sm">
    View <i class="fa fa-eye text-danger"></i>
    </a>
    {% else %}
    <span>No Action Available</span>
    {% endif %}
    {% endwith %}
</td>
</tr>
{% endfor %}
{% else %}
<tr>
<td colspan="7" class="text-center">No applications available</td>
</tr>
{% endif %}
</tbody>
</table>
</div>




 </div>
 </div>
 </div>

  <!--Jquery plugin-->


  <!--other javascript plugins-->
<script>
let urlMenu = document.getElementById('dropdown');
urlMenu.onchange = function(){
let userOption = this.options[this.selectedIndex];
if(userOption.value != "nothing"){
window.open(userOption.value, "_self", "");
}
}
</script>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict';
window.addEventListener('load', function () {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function (form) {
form.addEventListener('submit', function (event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();
</script>
<script>
let urlMenu = document.getElementById('dropdown');
urlMenu.onchange = function(){
let userOption = this.options[this.selectedIndex];
if(userOption.value != "nothing"){
window.open(userOption.value, "_self", "");
}
}
</script>


<!--Jquery plugin-->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/poppert.min.js' %}"></script>

<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

<script>
$('#mydata').dataTable();
</script>



{% endblock %}
