{% extends 'monitoring/monitoring_base.html'%}
{% load crispy_forms_tags %}

{% block content %}

<section class="bg-light py-5">
    <main class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-success text-white">
              <h5>
              Upload List of Internship Centers</h5>
            </div>
            <div class="card-body">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}<button  type="submit"  class="btn btn-success btn-block">Upload</button>
  </form>
 <div class="d-flex justify-content-end">   

<a href="{% url 'monitoring:monitoring_dashboard' %}" class="text-white py-2 mt-2 mb-4 btn btn-success"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dashboard</a>
    

</div>
          </div>
        </div>
      </div>
    </main>
  </section>
  {% endblock %}

  
