{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Radiography Practice License Applications Due for Issuance {% endblock %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/allt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'css/list_registration.css' %}" >
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" >



{% endblock %}


{% block content %}

      <div class="container">
      <div class="row">
      <div class="col col-lg-12">
            
    <section class="px-2 pt-3">
   
    <div class="row mt-3">
    <div class="col text-left">
    <p class="text-info display-4 paragraph2">Licenses Awaiting Issue List</p>
    <hr>
    </div>
    </div>

    </section>
    </div>
    </div>
    </div>


    <div class="container">
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row rounded justify-content-center align-items-center pt-4 mb-3 ml-1 mr-0 py-2" style="background-color: #bfe3f8;">
    <div class="col-1 text-right float-left pb-3 pl-0">
    <i class="fa fa-info-circle text-default fa-3x"></i>
    </div>
    <div class="col-11">
    <p class="lead" style="color: #05567b;">This page shows a summary count of all License Applications that are due for Issuance.
    <br>Click on the 'Proceed To Issue License' button to Issue License.
    <br/> </p> </div> 
    </div> 
    

   


    


      <div class="row text-center"> 
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 princing-item red">
      <div class="pricing-divider "> <h4 class="display-paragraph2 text-light">New Hospital Registrations</h4>
      {% if inspection %}
      <h4 class="my-0 display-paragraph2 text-light font-weight-normal mb-3">
      {{ object.count }} 
       
       </h4>
       {% else %}  
      <h4 class="my-0 display-paragraph2 text-light font-weight-normal mb-3">0</h4>
       {% endif %}
      <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
      <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
        c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
      <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
        c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
      <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
        H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
      <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
        c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
        </div>
        <div class="card-body bg-white mt-0 p-0 mb-3">

         {% if inspection %}
        <ul class="list-unstyled mb-5 position-relative">
       <li><b>
        {{ object.count }}
        </b> <span class="text-dark">Due for License Issuance</span> </li>
        </ul>
        {% else %}
        <ul class="list-unstyled mb-5 position-relative">
        <li><b>0</b> <span class="text-dark">Due for License Issuance</span> </li>
        </ul>
        {% endif %}
        <a href="{% url 'monitoring:license_list_table' %}" class="btn btn-outline-success btn-block p-1 rounded-0">
                    Proceed to issue <br>New Hospital License</a>
       </div>
       </div>




        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 princing-item blue">
        <div class="pricing-divider "> <h4 class="display-paragraph2 text-light">Internship Accreditations</h4>
        <h4 class="my-0 display-paragraph2 text-light font-weight-normal mb-3">0</h4>
        <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
  H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'>      </path>
        </svg>
        </div>

        <div class="card-body bg-white mt-0 p-0 mb-3">
        <ul class="list-unstyled mb-5 position-relative">
        <li><b>10</b> <span class="text-dark">Due for License Issuance</span> </li>
        </ul>
        <a href="#" class="btn btn-outline-success btn-block p-1 rounded-0">Proceed to issue <br>Internship Accreditation</a>
        </div>
        </div>
               
        
  
        
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 princing-item green">
        <div class="pricing-divider "> <h4 class="display-paragraph2 text-light">License Renewals</h4>
        <h4 class="my-0 display-paragraph2 text-light font-weight-normal mb-3">0</h4>
        <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
        <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
        <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
  H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
        <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'>      </path>
        </svg>
       </div>

      <div class="card-body bg-white mt-0 p-0 mb-3">
       <ul class="list-unstyled mb-5 position-relative">
      <li><b>10</b> <span class="text-dark">Due for License Issuance</span> </li>
      </ul>
      <a href="#" class="btn btn-outline-success btn-block p-1 rounded-0">Proceed to issue <br>Renewal License</a>
      </div>
      </div>
      </div> 

      </div> 
      <p><br/><br/>  




  





  <!--Jquery plugin-->


  <!--other javascript plugins-->
  <script>
  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>

  <script>
     // Example starter JavaScript for disabling form submissions if there are invalid fields
     (function () {
         'use strict';
         window.addEventListener('load', function () {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function (form) {
                 form.addEventListener('submit', function (event) {
                     if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                     }
                     form.classList.add('was-validated');
                 }, false);
             });
         }, false);
     })();
 </script>
 <script>
     let urlMenu = document.getElementById('dropdown');
     urlMenu.onchange = function(){
       let userOption = this.options[this.selectedIndex];
       if(userOption.value != "nothing"){
         window.open(userOption.value, "_self", "");
       }
     }
   </script>


   <!--Jquery plugin-->
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/poppert.min.js' %}"></script>

     <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

    <script>
      $('#mydata').dataTable();
    </script>



{% endblock %}
