{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Applications Submitted For Vetting {% endblock %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/allt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'css/list_registration.css' %}" >
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" >
{% endblock %}

{% block content %}

<div class="container">
       <div class="row">
           <div class="col col-lg-12">
            
<section class="px-2 pt-3 pb-2">
   
    <div class="row mt-3 mb-2">
    <div class="col text-left mb-1">
    <p class="text-info display-4 paragraph2">License Applications Due for Vetting</p>
    <hr>
    </div>
    </div>

</section>

<div class="table-responsive-lg">
<table class="table table-striped table-bordered table-hover" id="mydata">
<thead>
<tr style="background: #41963F;">
<th class="small-text" style="color: #fff; "width="2%">SN</th>
<th class="small-text" style="color: #fff; "width="14%">Application No</th>
<th class="small-text" style="color: #fff; "width="16%">Hospital Name</th>
<th class="small-text" style="color: #fff; "width="15%">License Type</th>
<th class="small-text" style="color: #fff; "width="18%">Application Type</th>
<th class="small-text" style="color: #fff; "width="13%">Submitted On</th>
<th class="small-text" style="color: #fff; "width="12%">Vet Status</th>
<th class="small-text" style="color: #fff; "width="10%">Action</th>
</tr> </thead> 

                  
<tbody>
{% if registration_list_qs %}
{% for object in registration_list_qs %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{object.application_no}}</td>
<td>{{object.hospital_name}}</td>
<td>{{object.hospital.license_type}}</td>
<td>{{object.hospital.application_type}}</td>
<td>{{object.hospital_name.reg_date}}</td>
<td>Pending</td>
<td><a href="{% url 'monitoring:vet_application' object.id %}" class="btn btn-outline-warning btn-sm"><i class="fa fa-eye text-danger"></i> View</a></td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
</div>
</div>
</div>
</div>








  <!--Jquery plugin-->


  <!--other javascript plugins-->
  <script>
  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>

  <script>
     // Example starter JavaScript for disabling form submissions if there are invalid fields
     (function () {
         'use strict';
         window.addEventListener('load', function () {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function (form) {
                 form.addEventListener('submit', function (event) {
                     if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                     }
                     form.classList.add('was-validated');
                 }, false);
             });
         }, false);
     })();
 </script>
 <script>
     let urlMenu = document.getElementById('dropdown');
     urlMenu.onchange = function(){
       let userOption = this.options[this.selectedIndex];
       if(userOption.value != "nothing"){
         window.open(userOption.value, "_self", "");
       }
     }
   </script>


   <!--Jquery plugin-->
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/poppert.min.js' %}"></script>

     <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

    <script>
      $('#mydata').dataTable();
    </script>



{% endblock %}
