{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Applications Submitted For Vetting {% endblock %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/allt.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'css/list_registration.css' %}" >
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" >


{% endblock %}


{% block content %}

<main class="container">
       <div class="row">
           <div class="col col-lg-12">
            <h3>New Hospital Registrations</h3>
            <div class="table-responsive-lg">
                <table class="table table-striped table-bordered table-hover" id="mydata">
                    <thead>
                     <tr style="background: #44756B;">
                      <td style="color: #fff;" class="small-text">S/N</td>
                       <td style="color: #fff;" class="small-text">Application No</td>
                       <td style="color: #fff;" class="small-text">Hospital Name</td>
                       <td style="color: #fff;" class="small-text">RC Number</td>
                       <td style="color: #fff;" class="small-text">Category</td>
                       <td style="color: #fff;" class="small-text">Type</td>
                       <td style="color: #fff;" class="small-text">Submitted on</td>
                       <td style="color: #fff;" class="small-text">Vet Status</td>
                       <td style="color: #fff;" class="small-text">View</td>
                     </tr>
                    </thead>
                      <tfoot>
                       <tr style="background: #44756B">
                        <td style="color: #fff;" class="small-text">S/N</td>
                          <td style="color: #fff;" class="small-text">Application No</td>
                          <td style="color: #fff;" class="small-text">Hospital Name</td>
                          <td style="color: #fff;" class="small-text">RC Number</td>
                          <td style="color: #fff;" class="small-text">Category</td>
                          <td style="color: #fff;" class="small-text">Type</td>
                          <td style="color: #fff;" class="small-text">Submitted on</td>
                          <td style="color: #fff;" class="small-text">Vet Status</td>
                          <td style="color: #fff;" class="small-text">View</td>
                       </tr>
                      </tfoot>
                    
                     <tbody>
                       {% if registration %}
                         {% for registration in registration %}
                         <tr>
                          <td>{{forloop.counter}}</td>
                           <td>{{registration.id}}</td>
                           <td>{{registration.hospital_name}}</td>
                           <td>{{registration.rc_number}}</td>
                           <td>{{registration.license_category}}</td>
                           <td>New</td>
                           <td>{{registration.reg_date_pretty}}</td>
                           <td>Pending</td>
                           <td><a href="{% url 'monitoring:vet_application' registration.id %}" class="btn btn-outline-warning btn-sm"><i class="fa fa-eye text-danger"></i> view</a></td>
                         </tr>

                        {% endfor %}
                       {% else %}
                       
                      <h4>No Registrations Available</h4>
                      

                     {% endif %}

                     </tbody>



                  </table>
              </div>
             </div>
         </div>
      </main>








  <!--Jquery plugin-->


  <!--other javascript plugins-->
  <script>
  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>

  <script>
     // Example starter JavaScript for disabling form submissions if there are invalid fields
     (function () {
         'use strict';
         window.addEventListener('load', function () {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function (form) {
                 form.addEventListener('submit', function (event) {
                     if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                     }
                     form.classList.add('was-validated');
                 }, false);
             });
         }, false);
     })();
 </script>
 <script>
     let urlMenu = document.getElementById('dropdown');
     urlMenu.onchange = function(){
       let userOption = this.options[this.selectedIndex];
       if(userOption.value != "nothing"){
         window.open(userOption.value, "_self", "");
       }
     }
   </script>


   <!--Jquery plugin-->
     <script src="{% static 'js/jquery.js' %}"></script>
     <script src="{% static 'js/poppert.min.js' %}"></script>

     <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

    <script>
      $('#mydata').dataTable();
    </script>



{% endblock %}
