{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| M&E Dashboard {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}


{% block content %}
<!--main containere-->

<main class="container">
    <div class="row mobile-top">
        <div class="col-md-12 col-lg-3 p-1 magin-right">
            <div class="card card-style">
                <div class="card-body">
                    <p class="card-title text-center"><i class="fa fa-hourglass-half text-warning"></i> Pending Doc
                        verification</p>
                    <h3 class="mt-3 text-center">21</h3>
                    <p class="mt-3 text-center small-text">6 Applications[Yr 2019]&nbsp;&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 p-1 magin-right">
            <div class="card card-style">
                <div class="card-body">
                    <p class="card-title text-center"><i class="fa fa-money-bill text-warning"></i> Due for Payment</p>
                    <h3 class="mt-3 text-center">21</h3>
                    <p class="mt-3 text-center small-text">2
                        Payments [2019]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 p-1 magin-right">
            <div class="card card-style">
                <div class="card-body">
                    <p class="card-title text-center"><i class="fa fa-clock text-warning"></i> Due for Inspection</p>
                    <h3 class="mt-3 text-center">21</h3>
                    <p class="mt-3 text-center small-text">&nbsp;&nbsp;&nbsp;0 Inspections[Yr 2019]</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 p-1 magin-right">
            <div class="card card-style">
                <div class="card-body">
                    <p class="card-title text-center"><i class="fa fa-lightbulb text-warning"></i> Pending inspections
                    </p>
                    <h3 class="mt-3 text-center">21</h3>
                    <p class="mt-3 text-center small-text">0 Completed Inspections[2019]</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 p-1 magin-right">
            <div class="card card-style">
                <div class="card-body">
                    <p class="card-title text-center"><i class="fa fa-share-square text-warning"></i> Awaiting inc.
                        Approval</p>
                    <h3 class="mt-3 text-center">21</h3>
                    <p class="mt-3 text-center small-text">0 Approved inspections[2019]</p>
                </div>
            </div>
        </div>
    </div>
    <!--utility items-->
    <div class="row mt-5 mobile-top2">
        <div class="col-md-12 col-lg-4">
            <div class="card card-style-2">
                <div class="card-body">
                    <i class="fa fa-shield-alt" style="font-size: 55px; margin-right: 15px; color: #EFB465;"></i>
                    <h5 class="pb-2" style="margin: -45px 0 0 60px; font-weight: bold;">Process Applications</h5>
                    <ul class="list-unstyled d-flex">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:registration_list' %}"> New Application Entries</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card card-style-2">
                <div class="card-body">
                    <i class="fa fa-lightbulb" style="font-size: 55px; margin-right: 15px; color: #EFB465;"></i>
                    <h5 class="pb-2" style="margin: -45px 0 0 60px; font-weight: bold;">Inspections</h5>
                    <ul class="list-unstyled d-flex">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:inspection_list' %}"> Schedule Inspections</a></li>
                    </ul>
                    <ul class="list-unstyled d-flex m-up">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:inspections_list' %}"> Inspection Reports</a></li>
                    </ul>
                    <ul class="list-unstyled d-flex m-up">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:create_hospital_record' %}"> Create Hospital Records</a></li>
                    </ul>
                    <ul class="list-unstyled d-flex m-up">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:hospital_records_list' %}"> Hospital Records Details</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card card-style-2">
                <div class="card-body">
                    <i class="fa fa-wrench" style="font-size: 55px; margin-right: 15px; color: #EFB465;"></i>
                    <h5 class="pb-2" style="margin: -50px 0 0 60px; font-weight: bold;">Licenses</h5>
                    <ul class="list-unstyled d-flex">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:license_list' %}"> Issue Licenses</a></li>
                    </ul>
                    <ul class="list-unstyled d-flex m-up">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:license_issued' %}"> View Licenses</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1 m-top mobile-bottom">
         <div class="col-md-12 col-lg-4">
            <div class="card card-style-2">
                <div class="card-body">
                    <i class="fa fa-wrench" style="font-size: 55px; margin-right: 15px; color: #EFB465;"></i>
                    <h5 class="pb-2" style="margin: -50px 0 0 60px; font-weight: bold;">Utilities</h5>
                    <ul class="list-unstyled d-flex">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'monitoring:hospitals_lookup' %}"> Registered Hospitals/Centers</a></li>
                    </ul>
                    <ul class="list-unstyled d-flex m-up">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="{% url 'utilities:offices' %}"> List of RRBN Zonal Offices</a>
                        </li>
                    </ul>

                    <ul class="list-unstyled d-flex m-up">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="#"> License Categories & Processing Fees</a></li>
                    </ul>
                    <ul class="list-unstyled d-flex m-up">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="#"> Document Verification Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card card-style-2">
                <div class="card-body">
                    <i class="fa fa-chart-bar" style="font-size: 55px; margin-right: 15px; color: #EFB465;"></i>
                    <h5 class="pb-2" style="margin: -45px 0 0 60px; font-weight: bold;"> Process Applications</h5>
                    <ul class="list-unstyled d-flex">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="#"> BI Reports</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card card-style-2">
                <div class="card-body">
                    <i class="fa fa-user-tie" style="font-size: 55px; margin-right: 15px; color: #EFB465;"></i>
                    <h5 class="pb-2" style="margin: -45px 0 0 60px; font-weight: bold;">My Portal Account</h5>
                    <ul class="list-unstyled d-flex">
                        <i class="fa fa-check-circle text-success mt-1"
                            style="font-size: 15px; margin:0 7px 0 60px;"></i>
                        <li><a class="text-dark" href="#"> My User Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--utility items ends-->
</main>



{% endblock %}