{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.8.2-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-reg.css' %}">

    

    {% block styles %} 
    



    {% endblock %}
    <title>RRBN Monitoring Portal {% block title %}{% endblock %}</title>
</head>

<body>
    <header>

        <section>
        <div class="container">
        <div class="row">
        <div class="col-md-5 my-3 mx-sm-1">
        <div class="col-md-12">
        <div class="row">                
        <img src="{% static 'img/rrbn-logo.png' %}" alt="">
        </div>    
        </div>
        </div>
        </section>

        
        <div class="row gcolor mt-2">
        <div class="container pt-2 pb-2">
        <div class="row justify-content-center align-items-center">
        <div class="col-md-3 col-sm-12 mb-2">
        <i class="fas fa-cogs fa-2x text-white my-1"></i>
        <span class=" ml-3 text-white font-weight-bold size23">{{ user.module_name}}</span>
        </div>
        <div class="col-md-4 col-sm-12 mb-2 push-left offset-md-1">
        <i class="fas fa-user fa-2x text-white my-1"></i>
        <span class=" ml-3 text-white font-weight-bold size23">{{ user.first_name }} {{ user.last_name }}</span>
        </div>
        
        <div class="col-md-4 mr-md-0 col-sm-12 mx-auto px-0">
        <div class="d-flex justify-content-end mr-4">
        <div class="dropdown">
        {% if user.role == "Monitoring" %}
        <a class="text-white mr-3 pb-1 px-4 btn btn-warning dropdown-toggle" href="#" role="button"
        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Go to</a><div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'monitoring:monitoring_dashboard' %}">Dashboard</a>
        <a class="dropdown-item" href="{% url 'monitoring:registration_list' %}">Vet Registration Applications</a>
        <a class="dropdown-item" href="{% url 'monitoring:inspection_list' %}">Schedule Inspections</a>
        <a class="dropdown-item" href="{% url 'monitoring:inspections_list' %}">Inspection Reports</a>
        <a class="dropdown-item" href="{% url 'monitoring:license_list' %}">Issue Licenses</a>
        <a class="dropdown-item" href="#">View Certificates & Permits</a>
        <a class="dropdown-item" href="{% url 'monitoring:hospitals_lookup' %}">Hospitals/Centers Lookup</a>
        <a class="dropdown-item" href="#">Radiography License Lookup</a>
        <a class="dropdown-item" href="{% url 'utilities:offices' %}">List of RRBN Zonal Offices</a>
        <a class="dropdown-item" href="#">License Fees</a>
        <a class="dropdown-item" href="#">BI Reports</a>
        <a class="dropdown-item" href="#">My User Account</a>
        </div>


        {% elif user.role == "Registrar" %}

        <a class="text-white mr-1 btn btn-warning dropdown-toggle" href="#" role="button"
        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Go to </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'registrars_office:registrar_dashboard' %}">Dashboard</a>
        <a class="dropdown-item" href="{% url 'registrars_office:license_approval_list' %}">Licences Awaiting Aproval</a>
        <a class="dropdown-item" href="{% url 'registrars_office:issued_lisenses_list' %}">List of Issued Licences</a>
        <a class="dropdown-item" href="#">Reports & Analytics</a>
        <a class="dropdown-item" href="#">My User Account</a>
        <a class="dropdown-item" href="{% url 'monitoring:hospitals_lookup' %}">Hospitals/Centers Lookup</a>
        <a class="dropdown-item" href="#">Radiography License Lookup</a>
        <a class="dropdown-item" href="{% url 'utilities:offices' %}">List of RRBN Zonal Offices</a>
        <a class="dropdown-item" href="#">License Categories & Fees</a>
        <a class="dropdown-item" href="#">Document Verification Service</a>
        </div>

        {% elif user.role == "Finance" %}

        <a class="text-white mr-1 btn btn-warning dropdown-toggle" href="#" role="button"
        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Go to
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'finance:finance_dashboard' %}">Dashboard</a>
        <a class="dropdown-item" href="#">List Payment Entries</a>
        <a class="dropdown-item" href="#">Process Payments</a>
        <a class="dropdown-item" href="#">View Online Payments</a>
        <a class="dropdown-item" href="#">View Bank Payments</a>
        <a class="dropdown-item" href="{% url 'hospitals:hospitals_lookup' %}">Hospitals/Centers Lookup</a>
        <a class="dropdown-item" href="#">Radiography License Lookup</a>
        <a class="dropdown-item" href="{% url 'utilities:offices' %}">List of RRBN Zonal Offices</a>
        <a class="dropdown-item" href="#">License Categories & Fees</a>
        <a class="dropdown-item" href="#">Document Verification Service</a>
        <a class="dropdown-item" href="#">BI Reports</a>
        <a class="dropdown-item" href="#">My User Account</a>
        </div>

        {% else %}

        <a class="text-white mr-1 btn btn-warning dropdown-toggle" href="#" role="button"
        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Go to </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'zonal_offices:zonal_offices_dashboard' %}">Dashboard</a>
        <a class="dropdown-item" href="#">Schedule Inspections</a>
        <a class="dropdown-item" href="#">Inspections Schedule list</a>
        <a class="dropdown-item" href="#">Inspection Reports</a>
        <a class="dropdown-item" href="{% url 'hospitals:hospitals_lookup' %}">Hospitals/Centers Lookup</a>
        <a class="dropdown-item" href="#">Radiography License Lookup</a>
        <a class="dropdown-item" href="{% url 'utilities:offices' %}">List of RRBN Zonal Offices</a>
        <a class="dropdown-item" href="#">License Categories & Fees</a>
        <a class="dropdown-item" href="#">Document Verification Service</a>
        <a class="dropdown-item" href="#">BI Reports</a>
        <a class="dropdown-item" href="#">My User Account</a>
        </div>

        {% endif %}
        </div>
        <a href="javascript:{document.getElementById('logout').submit()}" onclick=""class="btn btn-danger py-1 px-3 ml-2">
        <form id="logout" method="POST" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <input type="hidden"/>
        </form><i class="fa fa-power-off"> </i>Logout</a>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="container justify-content-center">
         <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        </div>
    </header>





    {% block content%} 

   



    {%endblock%}




   
    <footer class="gcolor">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <p class="text-white">RRBN</p>
                    <p class="text-white">
                        RRBN's key mandate is to regulate the practice of radiography in Nigeria.
                    </p>
                    <p class="text-white">
                        RRBN Monitoring and Emforcement portal Automates all processes in RRBN M&E processes.
                    </p>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="text-white">Home Links</p>
                    <p class="text-white " href="index.html">Home</p>
                    <p class="text-white " href="about-us.html">About</p>
                    <p class="text-white " href="services.html">Services</p>
                    <p class="text-white " href="help.html">Help</p>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="text-white ">External Links</p>
                    <p class="text-white " href="#">RRBN</p>
                    <p class="text-white " href="#">ARN</p>
                    <p class="text-white " href="#">NJIRT</p>
                    <p class="text-white " href="#">MINISTRY OF HEALTH</p>
                </div>
                <div class="col-md-3 col-sm-12">
                    <p class="text-white">Contact Us</p>
                    <p class="text-white">
                        Federal Secretariat Complex, Phase I, Annex III, 4th Floor, <br>Central Area - Abuja, Nigeria.
                    </p>
                    <p class="text-white">+234 092914928</p>
                    <p class="text-white">info@rrbn.gov.ng</p>
                    <p class="text-white">www.rrbn.gov.ng</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="copyright-container">
            <center>
                <p>
                    &copy All Rights Reserved RRBN 2019</p>
            </center>
        </div>
    </div>

    {% block scripts %}

     <script src="{% static 'js/jquery.slim.min.js' %}"></script>
     
     <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- You can alternatively load the minified version -->
      <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    {% endblock scripts %}

    <!-- {% block extrascripts %}{% endblock extrascripts %} -->

    {% block javascript %}
    {% endblock %}


</body>

</html>