{% extends 'monitoring/monitoring_base.html'%}
{% load static %}

{% load crispy_forms_tags %}

{% block title%}| Facility Inspection {% endblock %}
{% block styles %}


<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/list_registration.css' %}" >


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

{# Django Tempus Dominus assets are included in `{{ form.media }}` #}
{{ form.media }}



{% endblock %}


{% block content %}

<div class="container">
       <div class="row ml-1 my-2">
           <div class="col col-lg-12">
            <p class="mt-2 text-success display-4 paragraph3">New Hospital Registration - Inspection Scheduling</p>
                <hr>
          </div>
           </div>


          <div class="row rounded ml-3 mr-0 pl-1 pr-0 justify-content-center align-items-center" style="background-color: #bfe3f8;">
            <div class="col-md-1 mt-1 pt-1">
               <i class="fa fa-info-circle fa-3x" aria-hidden="true"></i>
                </div>

               <div class="col-md-11 mt-2 pt-2 px-0">
                <p class="lead" style="color: #05567b;">
                   Facility Inspection is scheduled to the closest Zonal Office to the Hospital/Centre applying for Radiography Practice License</p>
               </div>
           </div>

          

          <div class="col col-lg-12 mt-3 mb-0 pb-0">
            <p class="mb-0 text-success display-4 paragraph3">Showing Radiography Practise License Applications Due for Facility Inspection</p>
                <hr>
          </div>
        
        <!-- Insert Datepicker here -->
      
          <div class="row ml-2 mb-3">
          <div class="col-md-3">
          
          <form method="post" action=".">
            {% csrf_token %}

         
             <input type="hidden" name="inspection_scheduler" {% if user.is_authenticated %} value="{{ request.user.first_name }} {{ request.user.last_name }}" {% endif %} required id="id_inspection_scheduler">


            
            {{ form.application_no|as_crispy_field }}

            {{ form.practice_manager|as_crispy_field }}

            {{ form.hospital_name|as_crispy_field }}

            {{ form.license_category|as_crispy_field }}

            {{ form.phone|as_crispy_field }}

            {{ form.email|as_crispy_field }}

            {{ form.address|as_crispy_field }}

            {{ form.state|as_crispy_field }}

            {{ form.city|as_crispy_field }}

            {{ form.services|as_crispy_field }}

            {{ form.equipment|as_crispy_field }}

            {{ form.radiographers|as_crispy_field }}

            {{ form.radiologists|as_crispy_field }}


           
            {{ form.inspection_date|as_crispy_field }}
            </div>

             <div class="col-md-3"> 
            {{ form.inspection_report_deadline|as_crispy_field }}

            </div>

            <div class="col-md-4">
                <h6 class="pt-4"></h6>
                <button type="submit" class="btn btn btn-warning pt-2 pb-1"><i class="fa fa-check"></i> Post Inspection Schedule</button>
                


                <button class="btn btn btn-outline-secondary pt-2 pb-1"><i class="fa fa-times"></i> Close</button>
         
        </div>
        </div>
        



      





            <div class="table-responsive-lg">
               
                  <table class="table table-bordered">
                    <thead>
                     
                      <tr class="bg-secondary">
                       <td style="color: #fff;" class="small-text">S/N</td>
                       <td style="color: #fff;" class="small-text">Application No</td>
                       <td style="color: #fff;" class="small-text">Company Name</td>
                       <td style="color: #fff;" class="small-text">Submission Date</td>
                       <td style="color: #fff;" class="small-text">License Category</td>
                       <td style="color: #fff;" class="small-text">Facility Address</td>
                       <td style="color: #fff;" class="small-text">Zonal Office</td>

                     </tr>
                    </thead> 
                    
                     
                     <tbody>

                      
                         <tr>
                          <td>1</td>
                           <td>{{object.application_no}}</td>
                           <td>{{object.hospital_name}}</td>
                           <td>{{object.payment_date_pretty}}</td>
                           <td>New</td>
                           <td>{{object.address}}</td>
                           <td>{{form.inspection_zone|as_crispy_field }}</td>
                         </tr>
                       
                     <!-- Insert Datepicker here -->  
                     
                     </tbody>


                  </table>


                </div>
               </form>
             </div>
      








  <!--Jquery plugin-->


  <!--other javascript plugins-->
  <script>
  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>


<script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>







{% endblock %}
