{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}

<section class="p-2">
   
    <div class="row mt-2 ">
    <div class="col text-center mb-2">
    <p class="text-secondary display-4 paragraph2">Radiography Practice License Applications Due for Inspection Scheduling</p>
    <hr>
    </div>
    </div>

    </section>

<section class="my-0">
    <div class="container">
    <div class="row rounded pl-3 justify-content-center align-items-center" style="background-color: #bfe3f8;">
    <div class="col-md-1 py-0 px-auto">
    <i class="fas fa-info-circle fa-2x" style="color: #05567b;"></i>       
    </div>
    <div class="col-md-11 pt-2 pb-0">
    <p class="lead" style="color: #05567b;">
    <strong>{{object.hospital_name}}</strong> is due for facility inspection. Kindly click on Schedule Inspections button on Dashboard to proceed</p>           
    </div>
    </div>
    </div>
    </section>

<!-- Skills -->

<section>
    <div class="container">
        <!-- Title -->
<div class="row">
    <div class="col mb-0">
        <p class="text-success lead pt-4 pl-4"><strong>Application Summary</strong></p>
    </div>
</div>
<div class="row mx-1 py-0 my-0">
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">Application Number:</p>
        <p class="lead text-secondary m-0"><strong>{{object.application_no}}</strong></p>  
        <br>
        <br>
        <p class="lead text-secondary m-0">Examinations Carried Out:</p>
        <p class="lead text-secondary text-uppercase m-0"><strong>{{object.equipment}}</strong></p>  
        <br> 
    </div>

    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">License Category:</p>
        <p class="lead text-secondary m-0"><strong>{{object.license_category}}</strong></p>
        <br>
        <br>
        <p class="lead text-secondary m-0">Application Start Date:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.practice_manager.registration.reg_date_pretty}}</strong></p>  
        <br> 
    </div>
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">Facility Address/Location:</p>
        <p class="lead text-secondary m-0"><strong>{{object.address}}</strong></p>  
        <br>
        <p class="lead text-secondary m-0">Vetted By:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.vetting_officer}}</strong></p>  
        <br>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-2">
        <p class="lead text-secondary m-0">State of Location:</p>
        <p class="lead text-secondary m-0"><strong>{{object.state}}</strong></p> 
        <br>
        <br>
        <p class="lead text-secondary m-0">Vetted On:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.vet_date}}</strong></p>   
        
    </div>
    </div>
    

    <hr>
    <div class="d-flex justify-content-end">   
    
    
    
    <a href="{% url 'monitoring:monitoring_dashboard' %}" class="btn btn-warning text-white p-2 mr-3 mt-2 mb-5 "><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dashboard</a>
    
   
    
    
    </div>


    </div>  
    
</section>

<!-- End of Skills -->

{% endblock %}