{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% load humanize %}
{% block title%}| Vet Registration Applications {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles-vet.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}


{% block content %}

<div class="container">
      


<section class="px-2 pt-2">
   
    <div class="row mt-2 ">
    <div class="col text-left mb-1">
    <p class="text-secondary display-4 paragraph2">Vet New Radiography Practice License Application</p>
    <hr>
    </div>
    </div>

</section>

        <div class="row">
            <div class="col-md-5 mt-0">
                <div class="col-md-12">
                    <div class="row">
                      <span class="col-5 lead text-secondary">Hospital Name:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.hospital_name}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5 lead text-secondary">RC Number:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.practice_manager.registration.rc_number}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5 lead text-secondary">Category:</span>
                      <span class="col-6 lead text-dark"><strong>New Registration</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5 lead text-secondary">Telephone:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.phone}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5 lead text-secondary">Email:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.email}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5 lead text-secondary">Contact Address:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.address}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5 lead text-secondary">City:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.city}}</strong></span>
                  </div>
                  <div class="row">
                      <span class="col-5 lead text-secondary">State of Location:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.state}}</strong></span>
                    </div>

                     <div class="row">
                      <span class="col-5 lead text-secondary">Payment Amount:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.license_category }}</strong>
                      </span>
                    </div>
                    <div class="row">
                      <span class="col-5 lead text-secondary">Payment Amount:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.payment_amount | intcomma}}</strong>
                      </span>
                    </div>
                    <div class="row">
                      <span class="col-5 lead text-secondary">RRR Number:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.rrr_number}}</strong>
                      </span>
                    </div>
                    <div class="row">
                      <span class="col-5 lead text-secondary">Payment Date:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.payment_date_pretty}}</strong>
                      </span>
                    </div>
                    <div class="row">
                      <span class="col-5 lead text-secondary">Hospital Admin:</span>
                      <span class="col-6 lead text-dark"><strong>{{payment.practice_manager.first_name}} {{payment.practice_manager.last_name}}</strong></span>
                    </div>


                </div>
            </div>
            <!--Right col starts here -->
            <div class="col-md-6 offset-md-1 mt-0">
                <div class="col-md-12">
                    <p class="text-success lead"><strong>Uploaded Documents<strong></p>
                    {% if payment.practice_manager.registration.cac_certificate %}
                    <div class="row">
                        <span class="col-5 lead text-secondary">CAC Document:</span>
                        <span class="col-6 lead"><i class="fa fa-eye text-dark"></i>
                        <a class="text-danger" href="{{payment.practice_manager.registration.cac_certificate.url}}"
                        target="_blank"> View CAC Documents</a></span>
                    </div>
                    {% endif %}

                    {% if payment.practice_manager.registration.practice_license %}
                    <div class="row">
                        <span class="col-5 lead text-secondary">Practicing Licence:</span>
                        <span class="col-6 lead"><i class="fa fa-eye text-dark"></i>
                        <a class="text-danger" href="{{payment.practice_manager.registration.practice_license.url}}" target="_blank"> View Practicing Licence</a></span>
                    </div>
                     {% endif %}

                    {% if payment.payment_receipt %}
                    <div class="row">
                        <span class="col-5 lead text-secondary">Prayment Details:</span>
                        <span class="col-6 lead"><i class="fa fa-eye text-dark"></i>
                        <a class="text-danger"  href="{{payment.payment_receipt.url}}"  target="_blank">View Payment Receipt</a>
                    </div>
                    {% endif %}
                    </div>
                    <div class="col-md-12 mt-3">
                        <p class="text-success lead"><strong>Control Details<strong></p>
                        <div class="row">
                            <span class="col-5 lead text-secondary">Submitted on: </span>
                            <span class="col-6 lead"><strong>{{payment.practice_manager.registration.reg_date}}</strong></span>
                        </div>
                        <div class="row">
                            <span class="col-5 lead text-secondary">Vetted on: </span>
                            <span class="col-6 lead"><strong>{{payment.vet_date}}</strong></span>
                        </div>
                        <div class="row">
                            <span class="col-5 lead text-secondary">Vetted by: </span>
                            <span class="col-6 lead"><strong>{{ vetting_officer.first_name }} {{ vetting_officer.last_name }}</strong></span>
                        </div>
                    </div>
                </div>
        </div>
       

        <hr>
        <div class="d-flex justify-content-end"> 

        <a href="javascript:{document.getElementById('approve{{payment.id }}').submit()}"><button class="btn btn-success py-1 mr-4 mt-1 mb-3"> Approve for Inspection <i class="fa fa-check" aria-hidden="true"></i></button> </a>
        <a href="javascript:{document.getElementById('reject{{payment.id }}').submit()}"><button class="btn btn-danger py-1 mr-4 mt-1 mb-3"> Reject Submission <i class="fa fa-reply" aria-hidden="true"></i></button></a> 
        <a href="{% url 'monitoring:monitoring_dashboard' %}" class="btn btn-warning text-white py-1 px-3 mt-1 mb-3"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dashboard</a>  
    
    
    
       </div>


      </div>
<!--end Copy here-->

<form id="approve{{payment.id }}" method="POST" action="{% url 'monitoring:approve' payment.id %}">
  {% csrf_token%}
  <input type="hidden">
  


</form>

<form id="reject{{payment.id }}" method="POST" action="{% url 'monitoring:reject' payment.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>







<!--Jquery plugin-->
  <script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script>
  $('#mydata').dataTable();

  let urlMenu = document.getElementById('dropdown');
  urlMenu.onchange = function(){
    let userOption = this.options[this.selectedIndex];
    if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
  </script>


{% endblock %}
