{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% load humanize %}
{% block title%}| Vet Registration Applications {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles-vet.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}


{% block content %}

<main class="container">

<!-- Banner -->
{% if object.hospital.license_type == "Radiography Practice" %}
<section class="pt-2 pl-3">
<div class="row ">
<div class="col mb-0">
<p class="text-info display-4 paragraph2">Vet New Radiography Practice License Application</p>
<hr>
    
</div>
</div>
</section>

{% else %}
<section class="pt-2 pl-3">
<div class="row ">
<div class="col mb-0">
<p class="text-info display-4 paragraph2">Vet New Internship Accreditation Application</p>
<hr>
    
</div>
</div>
</section>



{% endif %}

<div class="row">
<div class="col-md-7 mt-0">
<div class="col-md-12">
<div class="row">
<p class="col-12 text-success lead">Application Summary</p>
</div>
<div class="row">
<span class="col-5"><strong>Application No:</strong></span>
<span class="col-6 ">{{object.application_no}}</span>
</div>
<div class="row">
<span class="col-5"><strong>Hospital Name:</strong></span>
<span class="col-6">{{object.hospital_name}}</span>
</div>



<div class="row">
<span class="col-5"><strong>RC Number:</strong></span>
<span class="col-6">{{object.hospital_name.rc_number}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Application Type:</strong></span>
<span class="col-6">{{object.hospital.application_type}}</span>
</div>



<div class="row">
<span class="col-5"><strong>Telephone:</strong></span>
<span class="col-6">{{object.hospital_name.phone_no}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Email:</strong></span>       
<span class="col-6">{{object.hospital_name.hospital_admin}}</span>
</div>  


<div class="row">
<span class="col-5"><strong>Contact Address:</strong></span>
<span class="col-6">{{object.hospital_name.address}}</span>
</div>

<div class="row">
<span class="col-5"><strong>City:</strong></span>
<span class="col-6">{{object.hospital_name.city}}</span>
</div>

<div class="row">
<span class="col-5"><strong>State of Location:</strong></span>
<span class="col-6">{{object.hospital_name.state}}</span>
</div>

<div class="row">
<span class="col-5"><strong>License Type:</strong></span>
<span class="col-6">{{object.hospital.license_type }}
</span>
</div>



<div class="row">
<span class="col-5"><strong>Available Equipment:</strong></span>
<span class="col-6">{{object.hospital.equipment}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Radiographers:</strong></span>
<span class="col-6">{{object.hospital.radiographers}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Radiologists:</strong></span>
<span class="col-6">{{object.hospital.radiologists}}</span>
</div>

<div class="row">
<span class="col-5"><strong>Payment Amount:</strong></span>
<span class="col-6">{{object.payment_amount | intcomma}}
</span>
</div>

<div class="row">
<span class="col-5"><strong>RRR Number:</strong></span>
<span class="col-6">{{object.rrr_number}}
</span>
</div>

<div class="row">
<span class="col-5"><strong>Payment Date:</strong></span>
<span class="col-6">{{object.payment_date}}
</span>
</div>
</div><br>
</div>

              
<div class="col-md-5 mt-0">
<p class="text-success lead">Uploads</p>
<div class="row py-0">
<table class="table table-hover">
<thead style="background-color: #bfe3f8;">
<tr>
<th scope="col lead" style="color: #05567b;">Parameter</th>
<th scope="col lead" style="color: #05567b;">Value</th>
</tr>
</thead>

<tbody>

{% if object.hospital.cac_certificate %}
<tr> <td width="50%" scope="col">CAC Document:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.hospital.cac_certificate.url}}" target="_blank">&nbsp; View CAC Certificate</a></td>  
</tr>
{% endif %}

{% if object.hospital.practice_license1 %}
<tr> <td width="50%" scope="col">Practice Licence:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.hospital.practice_license1.url}}"
target="_blank">&nbsp; View Practicing Licence</a></td>  
</tr>
{% endif %}

{% if object.hospital.practice_license2 %}
<tr> <td width="50%" scope="col">Practice Licence:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.hospital.practice_license2.url}}"
target="_blank">&nbsp; View Practicing Licence</a></td>  
</tr>
{% endif %}

{% if object.hospital.form_c07 %}
<tr> <td width="50%" scope="col">Form C07:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.hospital.form_c07.url}}"
target="_blank">&nbsp; View Form C07</a></td>  
</tr>
{% endif %}


{% if object.payment_receipt %}
<tr> <td width="50%" scope="col">Payment Receipt:</td> 
<td width="50%" scope="col"><i class="fa fa-eye text-dark"></i>
<a class="text-danger" href="{{object.payment_receipt.url}}" target="_blank">&nbsp; View Payment Receipt</a></td>  
</tr>
{% endif %}


                       
</tbody>
</table>
</div>  

            
            
<div class="row">
<p class="col-12 text-success lead">Control Details</p>
</div>

<div class="row">
<span class="col-6"><strong>Submitted on:</strong></span>
<span class="col-6">{{object.hospital.submission_date}}</span>
</div>

                    
<div class="row">
<span class="col-6"><strong>Vetted on:</strong></span>
{% if object.vet_date %}
<span class="col-6">{{object.vet_date_pretty}}</span>
{% else %} 
<span class="col-6"></span>
{% endif %}
</div>

<div class="row">
<span class="col-6"><strong>Vetted by:</strong></span>
{% if object.vetting_officer %}
<span class="col-6">{{ object.vetting_officer.first_name }} {{ object.vetting_officer.last_name }}</span>
{% else %} 
<span class="col-6"></span>
{% endif %}
</div>



<hr>
<div class="d-flex justify-content-end">   
<a href="javascript:{document.getElementById('approve{{object.id }}').submit()}"><button class="btn btn-success py-1 mr-2 mt-1 mb-1"> Approve for Inspection <i class="fa fa-check" aria-hidden="true"></i></button> </a>
<a href="javascript:{document.getElementById('reject{{object.id }}').submit()}"><button class="btn btn-danger py-1 mr-2 mt-1 mb-1"> Reject Submission <i class="fa fa-reply" aria-hidden="true"></i></button></a> 
<a href="{% url 'monitoring:monitoring_dashboard' %}" class="btn btn-warning text-white py-1 px-1 mt-1 mb-1"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dashboard</a>  
</div>
</div>




</main>

<!--end Copy here-->

<form id="approve{{object.id }}" method="POST" action="{% url 'monitoring:approve' object.id %}">
  {% csrf_token%}

 <input type="hidden" name="vetting_officer" {% if user.is_authenticated %} value="{{ request.user.first_name }} {{ request.user.last_name }}" {% endif %} required id="id_vetting_officer">
  <input type="hidden">
  


</form>

<form id="reject{{object.id }}" method="POST" action="{% url 'monitoring:reject' object.id %}">
  {% csrf_token%}
  <input type="hidden">
</form>


<!--Jquery plugin-->
<script src="{% static 'js/jquery.js' %}"></script>

<!--other javascript plugins-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script>
$('#mydata').dataTable();

let urlMenu = document.getElementById('dropdown');
urlMenu.onchange = function(){
let userOption = this.options[this.selectedIndex];
if(userOption.value != "nothing"){
      window.open(userOption.value, "_self", "");
    }
  }
</script>


{% endblock %}
