{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}
{% block content %}



<div class="container">
<section class="pt-2">
   
    <div class="row mt-2 ">
    <div class="col text-center">
    <p class="text-secondary display-4 paragraph2">Successful Creation of Hospital Administrator</p>
    <hr>
    </div>
    </div>

    </section>


<div class="row">
    <div class="col-lg-10 col-md-12 col-sm-12 m-auto">
      <ul class="prog-ul d-flex list-unstyled">
        <li class="prog "><small>GUILDLINES</small></li>
        <li class="prog "><small>HOSPITAL ADMINISTRATOR PROFILE CREATION</small></li>
         <li class="prog active"><small>PROFILE CREATION CONFIRMATION</small></li>
      </ul>
    </div>
      </div>


<section class="my-0">
    <div class="container">
   


 <div class="row rounded pl-3 justify-content-center align-items-center" style="background-color: #bfe3f8;">
    <div class="col-md-1 mt-0 pt-0">
    <i class="fa fa-info icon text-white"></i>
    </div>

    <div class="col-md-11 mt-2 pt-2">
    <p class="lead" style="color: #05567b;">
    {{object.hospital_name}}Your Hospital Administrator Profile was successfully created.  Please login to the email you provided for this application to confirm your email and continue your registration</p>

    </div>
    </div>
    </div>
    </section>



    <hr>
    <div class="d-flex justify-content-end">   
    
    
    
    <a href="{% url 'index' %}" class="btn btn-warning text-white py-1 px-3 mt-2 mb-4 "><i class="fa fa-angle-double-left" aria-hidden="true"></i> Close</a>
    
   
    
    </div>


    </div>  
    
</section>

</div>

<!-- End of Skills -->

{% endblock %}
