{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| New Hospital Registration {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_reg_guidelines.css' %}" />
{% endblock %}


{% block content %}
<main class="container">
        <div class="row">
            <div class="col col-lg-12">
                
                <div class="row mt-3">
                <div class="col-lg-10 col-md-12 col-sm-12 m-auto">
                  <ul class="prog-ul d-flex list-unstyled">
                    <li class="prog active"><small>GUILDLINES</small></li>
                    <li class="prog "><small>HOSPITAL ADMINISTRATOR PROFILE CREATION</small></li>
                    <li class="prog "><small>PROFILE CREATION CONFIRMATION</small></li>
                  </ul>
               
                </div>

               </div>

                </div>

                 </div>





            
       
        <div class="row mb-3">
            <div class="col col-lg-12 bg-success p-3 adjust">
                <i class="fa fa-info-circle p-3 text-white"></i>
                <p class="text-white">Notice: This is the first step for New Hospitals/Centres Registration with the Radiographers Registration Board of Nigeria. Kindly go through the guildlines and conditions. Please kindly have ready, along with other specified documents, evidence of payment of the registration fee of N50,000 as you will need to upload them for verification before your registration can be confirmed.</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-8 m-auto">
                <p class="font-weight-bold">Requirements for Hospitals Registration</p>
                <ol>
                    <li class="text-justify">Valid Certificate of Incorporation.</li><br>
                    <li>Form C07 showing names and particulars of director(s) and radiographer(s).</li><br>
                    <li>Current Radiographer Practicing Licence.</li><br>
                    <li>Evidence of Payment of fifty thousand naira (N50,000.00) Registration fee through remita</li><br>
                    Account Details: 1000032307
                </ol>
                <p class="font-weight-bold text-danger text-uppercase pb-3">Note: Provisional Registration is valid for 2 years.</p>
                <p class="font-weight-bold">Registration Process Flow:</p>
                <ul class="list-unstyled">
                    <li><span class="font-weight-bold">STEP 1: </span> Hospital Practice Manager Profile Creation</li><br>
                    <li><span class="font-weight-bold">STEP 2: </span> Submission of basic hospital/centre details, certificate of incorporation, form C07, evidence of payment of N50,000 registration fee and radiographer practicing Licence.</li><br>
                    <li><span class="font-weight-bold">STEP 3: </span> Verification of submitted documents and  registration fee details.</li><br>
                    <li><span class="font-weight-bold">STEP 4: </span> Upon succesful verification of submitted documents and payment details, hospital/centre is scheduled for inspection.</li><br>
                    <li><span class="font-weight-bold">STEP 5: </span> Facility inspection is carried out by RRBN Inspection and monitoring team from the Head Quarters or Zonal offices.</li><br>
                    <li><span class="font-weight-bold">STEP 6: </span> Report of facility inspection communicated to hospital with summary of areas of improvement.</li><br>
                    <li><span class="font-weight-bold">STEP 7: </span> Hospital issued Provisional Practice permit valid for 2 years.</li><br>
                </ul>
                <p><span class="font-weight-bold text-uppercase">Note:</span> Upon issue of provisional permit, Hospital/centre is informed of next date of inspection, monioring. This is required of issue of full registration certificate/accreditation for internship.
                </p>
            </div>
        </div>
        <div class="row pt-2 pb-2">
            <div class="col col-lg-6 m-auto">
                <a class="btn btn-danger p-2 m-left text-white" href="{% url 'index' %}"><span class="font-weight-bold">X</span> Cancel</a>
                <a class="btn btn-warning p-2 text-white ml-2" href="{% url 'accounts:create_profile' %}"><i class="fa fa-check"></i> I Agree Proceed</a>
            </div>
        </div>
    </main>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}
