{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| New Hospital Registration {% endblock %}
{% block styles %}




{% endblock %}


{% block content %}
<main class="container">
<!-- Banner -->

    
<div class="row mt-0 pt-2">
<div class="col text-left p-0 ml-3 mt-3">
<p class="text-success display-4 paragraph3">Internship Accreditation Renewal Guidelines Page</p>
<hr>
</div>
</div>
            


<section>
    
<div class="row rounded justify-content-center align-items-center mx-1 pt-4" style="background-color: #fffed6;">
            
<div class="col-md-1 col-sm-2 col-xs-4 pb-4">
<i class="fas fa-info-circle fa-3x" style="color: #05567b;"></i>
               
            
</div>

<div class="col-md-11 col-sm-10 col-xs-8">
<p class="lead" style="color: #05567b;">
Kindly go through the guildlines and conditions. You will need to upload your evidence of payment of the accreditation fee for verification before your hospital can be scheduled for accreditation inspection.  Internship accreditations for Private Hospitals attract a Accreditation Fee of N100,000 plus N50,000 each for a minimum of two modalities.  Additional modalities attract further N50,000 per listed modality.</p>
<span style="float:right;"> </span> 
                
              
</div>
</div>

</section>


<div class="row py-2 my-2"> 
<div class="col-lg-7 col-md-7 col-sm-7 col-sm-12 col-xs-12 pb-3 mb-3" style="border-right:1px solid #ddd"> <p class="lead text-success">Requirements for New Private Hospital Accreditation <span class="text-info" style="font-size:12px"> [Download]</a> </span> </p> 
<ol class="unstyled" style="font-size:1.2em;">
    <!--  <li>Valid Certificate of Incorporation</li><li>Form C07 showing names and particulars of director(s) and radiographer(s)</li> --> 

<li>Current Radiographer Practicing Licence</li> <li> Prescribed fee of (<b class="text-danger">N100,000.00 plus N50,000 per listed modality (minimum of two)</b>) to be paid to RRBN TSA Account:<br> <b>Name of MDA:</b> Radiographers Registration Board - 052100600100 <br><b>Name of Service/Purpose:</b> Accreditation Fee <br><b>Bank:</b> All Banks</p><br> </li></ol> <h4 class="text-dark" style="font-size:20px"><b>NOTE:</b>  Provisional Accreditation is valid for Two (2) Years while Full Accrdeditation is valid for Four (4) Years</h4>
</div> 

<!-- process flow --> 
<div class="col-lg-5 col-md-5 col-sm-5 col-sm-12 col-xs-12" > <p class="lead text-success">Application Process Flow</p> <ol class="unstyled" style="font-size:1.2em; text-align:justify"> <li><b>STAGE 1:</b> Hospital Profile Creation</li> <li><b>STAGE 2:</b> Submission of basic hospital/ centre details,<!--  certificate of incorporation, form C07,--> evidence of payment of accreditation fee and radiographer practicing Licence.</li> <li><b>STAGE 3:</b> Verification of submitted document(s) and  accreditation fee details. <li><b>STAGE 4:</b> Facility Inspection. </li> <li><b>STAGE 5:</b> Full or Provisional Accreditation</li> </ol>
</div>


</div>

<hr>
<div class="d-flex justify-content-end">   
    
<a href="{% url 'index' %}" class="btn btn-warning text-white py-2 px-3 mr-3 mt-2 mb-4 "><i class="fa fa-angle-double-left" aria-hidden="true"></i> Go Back</a>
    
   
 <a href="{% url 'accounts:private_hospital_internship_renewal_profile_creation' %}" class="text-white py-2 mt-2 mb-4 btn btn-success"><i class="fas fa-check"></i>Agree & Proceed</a>
    
   
    
</div>

     



            
           
            

</main>



<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock %}
