{% extends 'base-reg.html'%}
{% load static %}

{% block title%}| About Us {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}
        <main class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="font-weight-bold pt-1 pb-1">Who We Are</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 p-5">
                        <div class="row bg-light p-3">
                            <div class="col-lg-5 col-md-12 col-sm-12 curved bg-white pt-4 pb-4 down">
                                <center><i class="fa fa-user-tie icon mb-2"></i></center>
                                <center><a class="link-warning " href="">About RRBN Inspection & Monitoring Portal</a></center>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-12 curved bg-white pt-4 pb-4">
                                <center><i class="fa fa-building icon mb-2"></i></center>
                                <center><a class="link-warning " href="{% url 'mission' %}">Our Mission</a></center>
                            </div>
                        </div>
                        <div class="row bg-light p-3">
                            <div class="col-lg-5 col-md-12 col-sm-12 curved bg-white pt-4 pb-4 down">
                                <center><i class="fa fa-search icon mb-2"></i></center>
                                <center><a class="link-warning " href="{% url 'mandate' %}">The Inspection & MOnitoring Mandate</a></center>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-12 curved bg-white pt-4 pb-4">
                                <center><i class="fa fa-suitcase icon mb-2"></i></center>
                                <center><a class="link-warning " href="{% url 'benefits' %}">Benefits</a></center>
                            </div>
                            <div class="col-md-12 text-center pt-3">Have a question?</div>
                            <div class="col-md-12 text-center pt-3"><a class="link-warning" href="{% url 'faq' %}">Click here to visit our Faq section</a></div>
                        </div>

                    </div>
                    <div class="col-md-7">

                        <img class="mt-2 mb-1" src="{% static 'img/logo.jpg' %}" alt="logo">
                        <h5 class="orangeish font-weight-bold">About RRBN Inspection & Mornitoring</h5>
                        <p>The Radiographers Registration Boadr of Nigeria (RRBN) is a parastatal under the ministry of health.RRBN was established by Decree N0. 42 of 1987, now Cap R1 Laws of the Fedration of Nigeria 2004.RRBN key mandate is to regulate the price of Radiography in Nigeria.This key mandate of the board is cmostly carried out through its Monitoring and Enforcement Department.
                        </p>
                        <a href="#" class="btn btn-success text-white mb-3">Read More</a>

                        <h5 class="orangeish font-weight-bold">About RRBN Inspection & Mornitoring</h5>
                        <p class="">The RRBN Inspection & Mornitoring Portal is an Electronic platform for Data Consolidation of all major activities crried out by the Monitoring and Enforcement Department of the RRBN in its bid to uphold the mandate of the Board to regulate the Practice of radiography in Nigeria. RRBN Monitoring and Enforcement Portal provides a repository of easily retrivable data of all hospitals dispensing ionizing radiation, their addresses, list of equipments, radiographers covering the hospital, practice registration/compliance status, registration and renewal module for ease of registrations/renewals as well as inspection module for inspections and scheduling realtime upload of inspection observation/reports.
                        </p>
                        <a href="#" class="btn btn-success text-white">Read More</a>
                    </div>
                </div>
            </main>









{% endblock %}
