{% extends 'base-reg.html'%}
{% load static %}

{% block title%}| Portal Benefits {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/benefits.css' %}" />
{% endblock %}


{% block content %}
<main class="container">
                
                <div class="row">
                    <div class="col-md-5 px-5 mb-2 mt-4">
                         
                        <div class="row bg-light p-3">
                            <div class="col-lg-5 col-md-12 col-sm-12 curved bg-white pt-4 pb-4 down">
                                <center><i class="fa fa-user-tie icon mb-2"></i></center>
                                <center><a class="link-warning" href="{% url 'about' %}">About RRBN Inspection & Monitoring Portal</a></center>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-12 curved bg-white pt-4 pb-4">
                                <center><i class="fa fa-building icon mb-2"></i></center>
                                <center><a class="link-warning" href="{% url 'mission' %}">Our Mission</a></center>
                            </div>
                        </div>
                        <div class="row bg-light p-3">
                            <div class="col-lg-5 col-md-12 col-sm-12 curved bg-white pt-4 pb-4 down">
                                <center><i class="fa fa-globe icon mb-2"></i></center>
                                <center><a class="link-warning" href="{% url 'mandate' %}">The Inspection & Monitoring Mandate</a></center>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-12 curved bg-white pt-4 pb-4">
                                <center><i class="fa fa-suitcase icon mb-2"></i></center>
                                <center><a class="link-warning" href="{% url 'benefits' %}">Benefits</a></center>
                            </div>
                            <div class="col-md-12 text-center pt-3">Have a question?</div>
                            <div class="col-md-12 text-center pt-3"><a class="link-warning" href="{% url 'faq' %}">Click here to visit our Faq section</a></div>
                        </div>
                    </div>
                    <div class="col-md-7 mt-4">
                       
                       
                        <h5 class="orangeish font-weight-bold">Benefits of the RRBN Inspection and Monitoring Portal</h5>
                        <p>The RRBN Inspection and Monitoring Portal completely automates all core processes involved in the application and renewal of Radiography Practice License/Accreditation for Internship in Nigeria with the Radiographers Registration Board of Nigeria. With the Portal in place, Hospitals, Institutions and Diagnostic Center Administrators can register or renew their Radiography practices from the comfort of their hospitals or centers. Listed below is a summary of benefits of the portal:
                        </p>
                        <ul style="list-style: none;">
                            <li class="left-text"><i class="fa fa-arrow-circle-right mb-3 orangeish"></i> &nbsp;Convenient and Easy to Use </li>
                            <li class="left-text"><i class="fa fa-arrow-circle-right mb-3 orangeish"></i> &nbsp;&nbsp;High System Security</li>
                            <!-- Banner -->
                            <!--<li class="left-text"><i class="fa fa-arrow-circle-right mb-3 orangeish"></i> &nbsp;&nbsp;e-Payment</li> -->
                            <li class="left-text"><i class="fa fa-arrow-circle-right mb-3 orangeish"></i> &nbsp;&nbsp;Electronic Data Storage and Processing</li>
                            <li class="left-text"><i class="fa fa-arrow-circle-right mb-3 orangeish"></i> &nbsp;&nbsp;Paperless, Flexible and Robust</li>
                            <li class="left-text"><i class="fa fa-arrow-circle-right mb-3 orangeish"></i> &nbsp;Real time Notifications and Alerts</li>
                            <li class="left-text"><i class="fa fa-arrow-circle-right mb-3 orangeish"></i> &nbsp;Numerous Reports for Administrative Purposes</li>
                            <li class="left-text"><i class="fa fa-arrow-circle-right orangeish"></i> &nbsp;A Digital Experience Platform</li>
                        </ul>
                    </div>
                </div>
            </main>




{% endblock %}
