{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| Guidelines {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/guidelines.css' %}" />
{% endblock %}


{% block content %}

<main class="container">

<div class="row mt-2 ">
    <div class="col text-center mb-1">
    <p class="text-secondary display-4 paragraph2">Radiography Practice Registration and Renewal Guidelines</p>
    <hr>
    </div>
    </div>
    </section>

   

    <section>
    <div class="container-fluid">
    <div class="row rounded pl-3 py-1 justify-content-center align-items-center" style="background-color: #bfe3f8;">   
    <p class="lead ml-3 py-auto my-auto" style="color: #05567b;">Download Radiography Practice Application and Renewal Guidelines for your hospital or institution </p>
    </div>
    </div>
    </div>
    </section>


        <div class="row m-top">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 border margin-left-right">
                <h5 class="text-center font-weight-bold pt-4" style="color: #05567b;">
                    REGISTRATION<br> GUIDELINES FOR<br> HOSPITALS/CENTERS
                </h5><br>
                <p class="text-center">
                    Last Update: January 2019
                </p><br>
                <center><a class="btn btn-info p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
            </div>
            <div class="col-lg-4 border margin-left-right">
                <h5 class="text-center font-weight-bold pt-4" style="color: #05567b;">
                    RENEWAL<br> GUIDELINES FOR<br> HOSPITALS/CENTERS
                </h5><br>
                <p class="text-center">
                    Last Update: January 2019
                </p><br>
                <center><a class="btn btn-info p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 border margin-left-right">
                    <h5 class="text-center font-weight-bold pt-4" style="color: #05567b;">
                        REGISTRATION<br> GUIDELINES FOR<br> INSTITUTION
                    </h5><br>
                    <p class="text-center">
                        Last Update: January 2019
                    </p><br>
                    <center><a class="btn btn-info p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
                </div>
                <div class="col-lg-4 border margin-left-right">
                    <h5 class="text-center font-weight-bold pt-4" style="color: #05567b;">
                        RENEWAL<br> GUIDELINES FOR<br> INSTITUTION
                    </h5><br>
                    <p class="text-center">
                        Last Update: January 2019
                    </p><br>
                    <center><a class="btn btn-info p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
                </div>
                <div class="col-lg-2"></div>
            </div>
    </main>
{% endblock %}
