{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| Guidelines {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/guidelines.css' %}" />
{% endblock %}


{% block content %}

<main class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-dark text-center pt-3 font-weight-bold text-uppercase">Radiography Practice Registration and Renewal Guidelines </p>
            </div>
            <div class="col-lg-12 bg-danger mb-2">
                <p class="text-white text-center pt-1 font-weight-bold">Download Radiography Practice Application and Renewal Guidelines for your hospital or institution </p>
            </div>
        </div>
        <div class="row m-top">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 border margin-left-right">
                <h5 class="text-center font-weight-bold pt-4 text-success">
                    REGISTRATION<br> GUIDELINES FOR<br> HOSPITALS/CENTERS
                </h5><br>
                <p class="text-center">
                    Last Update: January 2019
                </p><br>
                <center><a class="btn btn-danger p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
            </div>
            <div class="col-lg-4 border margin-left-right">
                <h5 class="text-center font-weight-bold pt-4 text-success">
                    RENEWAL<br> GUIDELINES FOR<br> HOSPITALS/CENTERS
                </h5><br>
                <p class="text-center">
                    Last Update: January 2019
                </p><br>
                <center><a class="btn btn-danger p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 border margin-left-right">
                    <h5 class="text-center font-weight-bold pt-4 text-success">
                        REGISTRATION<br> GUIDELINES FOR<br> INSTITUTION
                    </h5><br>
                    <p class="text-center">
                        Last Update: January 2019
                    </p><br>
                    <center><a class="btn btn-danger p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
                </div>
                <div class="col-lg-4 border margin-left-right">
                    <h5 class="text-center font-weight-bold pt-4 text-success">
                        RENEWAL<br> GUIDELINES FOR<br> INSTITUTION
                    </h5><br>
                    <p class="text-center">
                        Last Update: January 2019
                    </p><br>
                    <center><a class="btn btn-danger p-2 text-white font-weight-bold" href="#">DOWNLOAD</a></center><br>
                </div>
                <div class="col-lg-2"></div>
            </div>
    </main>
{% endblock %}
