{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| Our Mission {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mission.css' %}" />
{% endblock %}

{% block content %}

<main class="container">
       <div class="row">
           <div class="col-md-12">
               <h5 class="font-weight-bold pt-2 pb-2">Who We Are</h5>
           </div>
       </div>
       <div class="row">
           <div class="col-md-5">
               <div class="row bg-light p-3">
                   <div class="col-lg-5 col-md-12 col-sm-12 curved bg-white pt-4 pb-4 down">
                       <center><i class="fa fa-user-tie icon mb-2"></i></center>
                       <center><a class="link-warning" href="{% url 'about' %}">About RRBN Inspection & Monitoring Portal</a></center>
                   </div>
                   <div class="col-lg-5 offset-lg-2 col-md-12 curved bg-white pt-4 pb-4">
                       <center><i class="fa fa-building icon mb-2"></i></center>
                       <center><a class="link-warning" href="{% url 'mission' %}">Our Mission</a></center>
                   </div>
               </div>
               <div class="row bg-light p-3">
                   <div class="col-lg-5 col-md-12 col-sm-12 curved bg-white pt-4 pb-4 down">
                       <center><i class="fa fa-search icon mb-2"></i></center>
                       <center><a class="link-warning" href="{% url 'mandate' %}">The Inspection & Monitoring Mandate</a></center>
                   </div>
                   <div class="col-lg-5 offset-lg-2 col-md-12 curved bg-white pt-4 pb-4">
                       <center><i class="fa fa-suitcase icon mb-2"></i></center>
                       <center><a class="link-warning" href="{% url 'benefits' %}">Benefits</a></center>
                   </div>
                   <div class="col-md-12 text-center pt-3">Have a question?</div>
                   <div class="col-md-12 text-center pt-3"><a class="link-warning" href="{% url 'faq' %}">Click here to visit our Faq section</a></div>
               </div>

           </div>
           <div class="col-md-7">
               <img class="mt-2 mb-1" src="{% static 'img/logo.jpg' %}" alt="logo">
               <h5 class="orangeish font-weight-bold">RRBN Mission</h5>
               <p>We promise to promote and enhance the image of Radiography profession in Nigeria and in the west African sub-region through: A) Provision of policies for qualitative academic and professional education at undergraduate and graduate levels; B) Constant provision and revision of policy frame works for quality services and ethical standards for practice of the profession; and C) Entrenchment of measures that are capable of building and sustaining the professional pride and ego of the radiographer at the highest level.
               </p>
               <h5 class="orangeish font-weight-bold">Vision</h5>
               <p class="">To position Radiography at the top of health profession in Nigeria.</p>
           </div>
       </div>
   </main>




{% endblock %}
