{% extends 'base-reg.html'%}
{% load static %}
{% block title%}| Our Zonal Offices {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/zonal.css' %}" />
{% endblock %}


{% block content %}
<main class="container">
        <div class="row ">
            <div class="col-sm-12 col-lg-4 mb-2 pt-3">
                <div class="card">

                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">LAGOS ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">Murtala Muhammed Way, Central Medical Library Compound, Yaba, Lagos. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        </p>
                        <p class="card-text">Tel: 08097995068</p>
                        <p class="card-text font-small pb-1">Email: lagosoffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 mb-2 pt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">ENUGU ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">Federal Secretarait Complex Enugu, </br> Room 042 - 045, Independence Layout Enugu.</p>   
                        <p class="card-text">Tel: 08097995077</p>
                        <p class="card-text font-small">Email: enuguoffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
           <div class="col-sm-12 col-lg-4 mb-2 pt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">SOKOTO ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">184-186 Federal Secretariat Complex,CKaduna Road, Sokoto, Sokoto State.</p>
                        <p class="card-text">Tel: 08097995072</p>
                        <p class="card-text font-small">Email: sokotooffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 mb-2 pt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h6 class="card-title bold-text">KANO ZONAL OFFICE</h6>
                        <p class="card-subtitle mb-2 text-muted">Fed Secretariat Complex, No. 1 Murtala Muhammed Way off Katsina Road, Kano.</p>
                        <p class="card-text">Tel: 08097995078</p>
                    <p class="card-text font-small"> Email: kanooffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
           <div class="col-sm-12 col-lg-4 mb-2 pt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-2"></i>
                        <h5 class="card-title">PH ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">Federal Secretariat Complex, Room 501, 5th Floor, Aba Road, Port Harcourt, Rivers State</p>
                        <p class="card-text">Tel: 08097995079</p>
                    <p class="card-text font-small"> Email:portharcourtoffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 mb-1 pt-3">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-2"></i>
                        <h5 class="card-title">AWKA ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">No. 47 Club Road/Abakaliki Street, Awka, Anambra State. &nbsp; &nbsp; &nbsp; </p>
                        <p class="card-text">Tel: 08097995068</p>
                        <p class="card-text font-small">Email:awkazonaloffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 mb-2 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-building mb-3"></i>
                            <h5 class="card-title">CALABAR ZONAL OFFICE</h5>
                            <p class="card-subtitle text-muted">Rm B13-16 Federal Secretariat Complex,Calabar. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <p class="card-text">Tel: Tel: 09090014523 </p>
                        <p class="card-text font-small"> Email: calabarzonaloffice@rrbn.gov.ng</p>
                        </div>
                    </div>
                </div>
               <div class="col-sm-12 col-lg-4 mb-5 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-building mb-3"></i>
                            <h5 class="card-title">ILESHA ZONAL OFFICE</h5>
                            <p class="card-subtitle text-muted">Otti Estate, Ilo Road, Osun State. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <p class="card-text">Tel: 08184421957 </p>
                            <p class="card-text font-small">Email: ileshazonaloffice@rrbn.gov.ng</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 mb-5 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-building mb-3"></i>
                            <h5 class="card-title">MAIDUGURI ZONAL OFFICE</h5>
                            <p class="card-subtitle text-muted">Federal Secretariat Complex, Along Jos/Kano Road, Maiduguri, Borno State . &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <p class="card-text">Tel: +2349088923336 </p>
                            <p class="card-text font-small">Email: maidugurizonaloffice@rrbn.gov.ng</p>
                        </div>
                    </div>
                </div>
        </div>
    </main>
{% endblock %}
