{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Our Zonal Offices {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/zonal.css' %}" />
{% endblock %}


{% block content %}
<main class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3 mb-2">
                <div class="card">

                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">LAGOS ZONAL OFFICE</h5>
                        <h6 class="card-subtitle text-muted">Murtala Muhammed Way, Central Medical Library Compound, Yaba, Lagos. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        </h6>
                        <p class="card-text">Tel: 08097995068</p>
                        <p class="card-text font-small pb-1">Email: lagosoffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">ENUGU ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">No. 5 Ridgeway GTA, off opara Avenue, Enugu. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                        <p class="card-text">Tel: 08097995077</p>
                        <p class="card-text font-small">Email: enuguoffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">SOKOTO ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">184-186 Federal Secretariat Complex,CKaduna Road, Sokoto, Sokoto State.</p>
                        <p class="card-text">Tel: 08097995072</p>
                        <p class="card-text font-small">Email: sokotooffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h6 class="card-title bold-text">KANO ZONAL OFFICE</h6>
                        <p class="card-subtitle mb-2 text-muted">Fed Secretariat Complex, No. 1 Murtala Muhammed Way off Katsina Road, Kano.</p>
                        <p class="card-text">Tel: 08097995078</p>
                    <p class="card-text font-small"> Email: kanooffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">PORT HARCOUT ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">Federal Secretariat Complex, Room 501, 5th Floor, Aba Road, Port Harcourt, Rivers State</p>
                        <p class="card-text">Tel: 08097995079</p>
                    <p class="card-text font-small"> Email:portharcourtoffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-building mb-3"></i>
                        <h5 class="card-title">ASABA ZONAL OFFICE</h5>
                        <p class="card-subtitle mb-2 text-muted">Room 424, Federal Secretariat, beside delta Broadcasting Service, Okpanam Road Asaba.</p>
                        <p class="card-text">Tel: 08097995069</p>
                        <p class="card-text font-small">Email:Email:asabaoffice@rrbn.gov.ng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-building mb-3"></i>
                            <h5 class="card-title">CALABAR ZONAL OFFICE</h5>
                            <p class="card-subtitle text-muted">Rm B13-16 Federal Secretariat Complex,Calabar. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <p class="card-text">Tel: Tel: 09090014523 </p>
                        <p class="card-text"> Email:</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-building mb-3"></i>
                            <h5 class="card-title">NNEWI ZONAL OFFICE</h5>
                            <p class="card-subtitle text-muted">Nnewi-North LGA Headquarters,Umudim Nnewi. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <p class="card-text">Tel: 08062464540 </p>
                            <p class="card-text">Email:</p>
                        </div>
                    </div>
                </div>
        </div>
    </main>
{% endblock %}
