{% extends 'monitoring/monitoring_base.html'%}
{% load static %}
{% block title%}| Welcome {% endblock %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hospital_dashboard.css' %}">
{% endblock %}

{% block content %}

    <section class="p-2">
    <div class="container">
   
    <div class="row mt-2 ">
    <div class="col text-left mb-2">
    <p class="text-info display-4 paragraph3">Radiography Practise Permit Renewal Final Approval</p>
    <hr>
    </div>
    </div>
    </div>

    </section>

<section class="my-0">
    <div class="container">
    <div class="row rounded mx-1 pl-3 justify-content-center align-items-center" style="background-color: #bfe3f8;">
    <div class="col-md-12 pt-2 pb-0">
    <p class="lead" style="color: #05567b;">
    <strong>{{object.hospital_name}}</strong> Radiography Practise Permit Renewal Application Final Approval by the Registrar/CEO RRBN</p>           
    </div>
    </div>
    </div>
    </section>

<!-- Skills -->

<section>
    <div class="container">
        <!-- Title -->
<div class="row">
    <div class="col mb-0">
        <p class="text-success lead pt-4 pl-4"><strong>Application Summary</strong></p>
    </div>
</div>
<div class="row mx-1 py-0 my-0">
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mb-0">
        <p class="lead text-secondary ml-1 mr-0 my-0">Application Number:</p>
        <p class="lead text-secondary m-0"><strong>{{object.application_no}}</strong></p>  
        <br>
        <br>
        <p class="lead text-secondary m-0">Available Modalities:</p>
        <p class="lead text-secondary m-0"><strong>{{object.hospital.equipment}}</strong></p>  
        <br> 
    </div>

    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">Hospital/Centre Address:</p>
        <p class="lead text-secondary m-0"><strong>{{object.hospital.facility_address}}</strong></p>
        <br>
        <p class="lead text-secondary m-0">State of Location:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.hospital.facility_state_of_location}}</strong></p>  
        <br> 
    </div>
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
        <p class="lead text-secondary m-0">Application Category:</p>
        <p class="lead text-secondary m-0"><strong>{{object.hospital.license_type}}</strong></p> 
        <br>
        <p class="lead text-secondary m-0">Application Start Date:</p>
        <p class="lead text-secondary text-capitalize m-0"><strong>{{object.hospital.submission_date}}</strong></p>  
        <br>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-10 m-sm-0 mx-auto mb-0">
    <p class="lead text-secondary m-0">Application Type:</p>
    <p class="lead text-secondary m-0"><strong>{{object.hospital.application_type}}</strong></p> 
    <br>
    <p class="lead text-secondary m-0">Radiographer In Charge:</p>
     <p class="lead text-secondary text-capitalize m-0"><strong>{{object.hospital.radiographer_in_charge}}</strong></p>   
        
    </div>
    </div>
    
    

    <hr>
    <div class="d-flex justify-content-end">   
    
    
    
    <a href="{% url 'registrars_office:registrar_dashboard' %}" class="btn btn-warning text-white p-2 mr-3 mt-2 mb-5 "><i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dashboard</a>
    
   
    
    
    </div>


    </div>  
    
</section>

<!-- End of Skills -->

{% endblock %}