.btmMargin .card{
  margin-bottom: 20px;
}

main{
   margin: 3rem 0;
}

p {
  font-family: "Helvetica Neue";

}

.paragraph {
  font-size: 2.5rem;

}
.paragraph2 {
  font-size: 2.0rem;

}
.paragraph3 {
  font-size: 1.0rem;

}

h1 {
  font-family: "Helvetica Neue";
}
h3 {
  font-family: "Helvetica Neue";
}

.footer_nav{
    margin: 3rem 0;
}

.footer_nav button{
    margin-right: .5rem;
}

.dropdown-item{
    color: #000;
}

.dropdown-item:hover{
    background: #fff;
    color: green;
}

.dropdown-menu{
    margin-top: 8px;
    border-top: none;
    border-radius: 1px;
}

.nav-link{
    padding-right: 8rem !important;
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(141, 245, 131) !important;
  }

 body{
    overflow-x: hidden; 
 }

 .progress{
    width: 100%;
    height: auto;
 }

 /* UTILITY CLASSES */


 /*colors*/

  .yellow{
    background: #ECD863;
  }

  .green{
    background: #5CB85C;
  }

  .danger{
    background: #E68F8D;
  }

  .blue{
    background: #337AB7;
  }
 /*color end*/

 .tcolor{
    background: #32776B;
 }

 .ft{
    font-size: 16px;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .frbg{
    background: #000;
 }

 .ml{
    margin-left: 120px;
 }

  .fa{
    font-size: 12px;
  }

  .big{
    font-size: 40px;
  }

  .icon{
    font-size: 36px;
    background: #337AB7;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-left: 20px;
  }

  .ss-icon{
      font-size: 22px;
      color: #000;
  }

  .card-body{
      padding: 15px 15px 5px 15px;
  }

  .w-20{
    width: 22%;
  }

  .size24{
    font-size: 24px;
  }

  .cml{
    margin-left: 30px;
  }
  .underline{
    width: 95%;
    margin: 5px 0;
    border: 1px solid #d1cfcf1c;
  }

  .bg-success-2{
    background: rgb(48, 190, 48);
  }

  .skyblue{
    background: skyblue;
  }

  .icon-font-color{
      color: skyblue;
  }

.border-left{
    border-left: 4px solid #ffc107 !important;
}
  /* END OF UTILITY CLASSES */

  /* FOOTER CSS */
footer{
    border-top: 2px solid rgb(75, 201, 75);
    padding-top: 5px;
}

.flink:hover{
    color: rgb(32, 189, 45) !important;
 }

 .copyright{
    width: 100%;
    background-color: #000;
    height: 50px;
    clear: both;
    overflow: hidden;
  }
  .copyright .copyright-container{
    width: 80%; 
    margin: 0 auto; 
  }
  
  .copyright .copyright-container p{
    color: #fff; 
    padding-top: 10px;
  }

  /*MEDIA QUERIES*/
  

@media screen and (max-width: 360px) {
    .text-small{
     font-size: 16px;
     font-weight: bold;
     margin-top: -20px;  
    }  
    
    .mt-360{
       margin-top: -20px !important;
    }

    .table-md{
      margin-left: -20px !important;
    }
}
 @media screen and (max-width: 414px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .push-left{
        margin-left: 20px;
    }

    .negative-left{
       margin-left: 5px !important;
    }

    .text-left{
        margin-left: 20px;
    }

    .table{
        width: 270px;
        margin-left: 30px !important;
    }
    .table-center{
        margin-left: 53px !important;
    }

    .text-small{
        font-size: 16px;
        font-weight: bold;
        margin-top: -20px;  
    }
    .mt-360{
        margin-top: -20px !important;
    } 
}

@media screen and (max-width: 640px) {

.logo{
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .logo{
    width: 70%;
    margin-left: 20px;
    margin-bottom: 10px;
    }

.big{
    font-size: 22px;
    }

.size24{
    font-size: 16px !important;
    }

.negative-left{
    margin-left: -25px;
    }

.table{
    width: 270px;
    margin-left: -32px;
    }
}
