
.footer_nav{
    margin: 3rem 0;
}
.footer_nav button{
    margin-right: .5rem;

}


 body{
     overflow-x: hidden;
 }

 .tcolor{
     background: #32776B;
 }

 .ft{
     font-size: 16px;
     line-height: 1;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .frbg{
     background: #000;
 }

 .ml{
     margin-left: 85px;
 }

 .flink:hover{
    color: rgb(32, 189, 45) !important;
 }

 /*custom styles for this page*/

 .padding-remove{
    padding-right: 0;
    padding-left: 0;
 }

 .deepblue{
     background: #123556;
 }

 .list-margin{
     margin-left: -25px;
     margin-right: -10px;
 }

 .m-left{
    margin-left: 70px !important;
 }

 .minus{
     margin-left: -7px;
     margin-right: 7px;
 }

.faq-linlk{
    color: rgb(39, 133, 170);
}

.faq-linlk:hover{
    color: orangered;
    text-decoration: none;
}

 /*custom styles for this page ends*/

 .copyright{
    width: 100%;
    background-color: #000;
    height: 50px;
    clear: both;
    overflow: hidden;
  }
  .copyright .copyright-container{
    width: 80%;
    margin: 0 auto;
  }

  .copyright .copyright-container p{
    color: #fff;
    padding-top: 10px;
  }


footer{
    border-top: 2px solid rgb(75, 201, 75);
    padding-top: 5px;
}

