
.footer_nav{
    margin: 3rem 0;
}
.footer_nav button{
    margin-right: .5rem;

}


.unstyled{
    text-decoration: none;
    color: #000;
}

.unstyled:hover{
    text-decoration: none;
    color:#817e7e;
}

.nav-link:hover {
    color: rgb(141, 245, 131) !important;
  }

 body{
     overflow-x: hidden; 
 }

 .tcolor{
     background: #32776B;
 }

.resize{
    width: 22rem;
}

.card-subtitle{
    font-size: 15px;
}

 .ft{
     font-size: 16px;
     line-height: 1;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .frbg{
     background: #000;
 }

 .ml{
     margin-left: 120px;
 }

 .flink:hover{
    color: rgb(32, 189, 45) !important;
 }

 .copyright{
    width: 100%;
    background-color: #000;
    height: 50px;
    clear: both;
    overflow: hidden;
  }
  .copyright .copyright-container{
    width: 80%; 
    margin: 0 auto; 
  }
  
  .copyright .copyright-container p{
    color: #fff; 
    padding-top: 10px;
  }
  

footer{
    border-top: 2px solid rgb(75, 201, 75);
    padding-top: 5px;
}

@media screen and (max-width: 768px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .resize{
        width: 14rem;
    }
}

@media screen and (max-width: 640px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

 @media screen and (max-width: 414px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .push{
        margin-top: 20px;
    }

    .pull-up{
        margin-bottom: -15px;
    }

    .down{
        margin-bottom: 20px;
    }

    .resize{
        width: 23.5rem;
    }

}

@media screen and (max-width: 375px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .resize{
        width: 21.5rem;
    }
 
}

@media screen and (max-width: 360px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    .resize{
        width: 20.5rem;
    }

}

@media screen and (max-width: 320px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .resize{
        width: 18rem;
    }

    .shrink{
        font-size: 14px;
    }

}