main{
   margin: 3rem 0;
}

p {
  font-family: "Helvetica Neue";

}

.paragraph {
  font-size: 2.5rem;

}
.paragraph2 {
  font-size: 2.0rem;

}
.paragraph3 {
  font-size: 1.0rem;

}

h1 {
  font-family: "Helvetica Neue";
}
h3 {
  font-family: "Helvetica Neue";
}

.magin-right{
  margin-right: -60px;
}

.footer_nav{
    margin: 3rem 0;
}

.footer_nav button{
    margin-right: .5rem;
}

.dropdown-item{
    color: #000;
}

.dropdown-item:hover{
    background: #fff;
    color: green;
}

.dropdown-menu{
    margin-top: 8px;
    border-top: none;
    border-radius: 1px;
}

.nav-link{
    padding-right: 8rem !important;
    font-size: 16px;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(141, 245, 131) !important;
  }

 body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #34495E;
 }
  .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #34495E !important;
    border-color: #34495E !important;
 }

 /* UTILITY CLASSES */

 thead tr td{
   padding-top: 7px !important;
   padding-bottom: 7px !important;
 }

 tfoot tr td{
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

tr td{
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.btn-sm{
  margin-left: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

 .size24{
   font-size: 24px;
 }


 .m-up{
   margin-top: -10px;
 }

 .tcolor{
    background: #32776B;
 }

 .ft{
    font-size: 16px;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .ml{
    margin-left: 120px;
 }

  .fa{
    font-size: 13px;
  }

  .big{
    font-size: 40px;
  }

  .cml{
    margin-left: 30px;
  }

  .bg-success-2{
    background: rgb(48, 190, 48);
  }

  .small-text{
    font-size: 14px;
  
  }

  /* END OF UTILITY CLASSES */

  /* FOOTER CSS */

footer{
    border-top: 2px solid rgb(75, 201, 75);
    padding-top: 5px;
}

.flink:hover{
    color: rgb(32, 189, 45) !important;
 }

 .copyright{
    width: 100%;
    background-color: #000;
    height: 50px;
    clear: both;
    overflow: hidden;
  }
  .copyright .copyright-container{
    width: 80%;
    margin: 0 auto;
  }

  .copyright .copyright-container p{
    color: #fff;
    padding-top: 10px;
  }

  /*MEDIA QUERIES*/
  @media screen and (max-width: 768px) {
    .logo{
    width: 70%;
    margin-left: 20px;
    margin-bottom: 10px;
    }

.big{
    font-size: 22px;
    }

.size24{
    font-size: 16px !important;
    }

.negative-left{
    margin-left: -25px;
  }

.small-text{
  font-size: 14px;
  font-weight: bold;
}
}

  @media screen and (max-width: 414px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .push-left{
        margin-left: 20px;
    }

    .negative-left{
       margin-left: 5px !important;
    }

    .text-left{
        margin-left: 20px;
    }
    .mt-360{
        margin-top: -20px !important;
    }

}

@media screen and (max-width: 360px) {
  .magin-right{
    margin-right: 0;
  }

}

  @media screen and (max-width: 320px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 640px) {

.logo{
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    }
}
