* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*main  Styling*/

html,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.7em;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}
p {
  margin: 10px 0;
}

.clearfix{
  clear: both;
}

.container{
  width: 100%;
}

/*HEADER STARTS*/

.header {
  width: 100%;
  height: 90px;
  overflow: hidden;
}

.logo-box {
  float: left;
  margin-left: 120px;
}

.logo-box .logo {
  display: block;
  padding: 10px;
}
.logo-box .logo img {
  width: 80%;
}

/*HEADER ENDS*/

/* NAV STARTS */

nav{
  width: 100%;
  height: 60px;
  background: #32776B;
}

nav .nav-container{
  width: 90%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

nav .nav-container .section-1{
  width: 35%;
}

nav .nav-container .section-1 i{
  font-size: 40px;
  color:#fff;
  padding: 18px 5px;
}

nav .nav-container .section-1 button i{
  font-size: 17px;
  margin-top: -17px;
  margin-left: 5px;
}

/* NAV ENDS*/

/*button colors*/
.btn-orage{
  background: #EFB566;
}

.btn-white{
  background: #fff;
}

/*button colors*/

.white{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.push-down{
  padding: 20px 15px;
}

/*BODY STARTS*/
 .mehq-container{
  width: 90%;
  height: auto;
  margin: 20px auto;
 }
 
 .section-1{
   width: 100%;
   margin: 0 auto;
   display: flex;
}

 /*SELECTION CSS BEGINS*/
 .dropdown{
  width: 59%;
  margin-right: 4px;
  position: relative;
  border-radius: 10px;
  font-size: 10px;
}

 .dropdown select{
   background: #fff;
   color: #000;
   padding: 5px;
   width: 100%;
   height: 37px;
   overflow: hidden;
   border: none;
   font-size: 14px;
   margin-top: 13px;
   margin-left: -40px;
   outline: none;
   cursor: pointer;
}

 .dropdown select option{
  background: #fff;
  cursor: pointer;
}

  /*SELECTION CSS ENDS*/

 .section-1 .first{
  width: 20%;
  height: 150px;
  border: 1px 0 1px 1px solid black;
  padding-top: 15px;
  padding-left: 30px;
  margin-bottom:30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.30);
 }

 .section-1 .first i{
  float: left;
  padding-top: 16px;
  padding-right: 5px;
  color: #32776B;
 }

 .section-1 .first h2{
  margin-left: 30%;
  padding-bottom: 5px;
 }

 .section-1 .first .para{
   font-size: 14px;
 }

 .section-1 button{
   width: 120px;
   height: 40px;
   border-radius: 5px;
   margin: 12px 10px 0 0;
   padding: 10px;
   border: none;
   color: #fff;
   font-size: 17px;
   display: flex;
   cursor: pointer;
 }

 .section2 {
   width: 100%;
   height: auto;
   margin: 10px auto;
   display: flex;
 }
 .section2 .inner{
   width: 33.3%;
   height: auto;
   display: flex;
 }

 .section2 .inner:hover{
  background: rgb(249, 247, 249);
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 2px rgba(247, 247, 247, 0.3);
}

.section2 .inner a:hover{
  text-decoration-line: underline;
}

 .section2 .inner .one img{
  width: 70px;
  height: 70px;
}

.big{
  color: #32776B;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: -2px;
 }

 .font-up{
   font-size: 16px;
 }

.section2 .inner .two i{
 color: green;
 font-size: 14px;
 margin-right: 5px;
}


.section3 {
  width: 100%;
  height: auto;
  margin: 10px auto;
  display: flex;
}

.section3 .inner{
  width: 33.3%;
  height: auto;
  display: flex;
  padding: 20px;
}

.section3 .inner:hover{
  background: rgb(249, 247, 249);
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px 2px rgba(247, 247, 247, 0.3);
}

.section3 .inner a:hover{
  text-decoration-line: underline;
}


.section3 .inner .one img{
 width: 70px;
 height: 70px;
 margin-left: -20px;
}

.section3 .inner .two i{
  color: green;
  font-size: 14px;
  margin-right: 5px;
 }

/*BODY ENDS*/

.footer{
  width: 100%;
  background: #32776B;
  overflow: hidden;
  clear: both;
  border-top: 2px solid rgb(75, 201, 75);
}

.footer-container{
  width:80%;
  margin: 0 auto;
  padding: 5px 0;
}

.fml{
  margin-left:-90px;
}
.footer .footer-container .footer-box{
  width: 25%;
  float: left;
  padding-right: 40px;
}

.footer .footer-container .footer-box p{
  color: #fff;
  font-size: 14px;
  margin: 0;
}

.footer .footer-container .footer-box .fp{
  color: #fff;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer .footer-container .footer-box .fp a{
  line-height: 1.3em;
}

.footer .footer-container .footer-box .fp2{
  font-size: 16px;
  color: #ddd;
  margin: 2px 0;
  line-height: 1.3em;

}

.footer .footer-container .footer-box a{
  font-size: 16px;
  color: #ddd;
  line-height: 1.3em;
  float: left; 
}

.footer .footer-container .footer-box a:hover{
  color: rgb(32, 189, 45);
}

.copyright{
  width: 100%;
  background-color: #000;
  height: 50px;
  clear: both;
  overflow: hidden;
}
.copyright .copyright-container{
  width: 80%; 
  margin: 0 auto; 
}

.copyright .copyright-container p{
  color: #fff; 
  padding-top: 5px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: auto;
    overflow: auto;
  }
  
  .logo-box {
    float: none;
    margin-left: 0;
  }
  
  .logo-box .logo img {
    width: 100%;
  }

/*MOBILE NAVE STARTS*/

nav{
  width: 100%;
  height: auto;
}

nav .nav-container{
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  padding: 0;
}
nav .nav-container .section-1{
  width: 100%;
}

nav .nav-container .section-1 i{
  font-size: 40px;
  color:#fff;
  padding: 18px 5px;
}

nav .nav-container .section-1 button i{
  font-size: 17px;
  margin-top: -17px;
  margin-left: 5px;
}

nav .nav-container .section-1 button{
  width: 100%;

}
/*MOBILE NAV ENDS*/

/*BODY MOBILETS STARTS*/
.mehq-container{
  width: 100%;
 }

 .section-1{
  width: 100%;
  margin: 0;
  display: block;
} 

.section-1 .first{
  width: 100%;
  height: auto;
  float: none;
  border: 1px 0 1px 1px solid black;
  padding-left: 0;
  margin-bottom: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.30);
 }

 .section-1 .first i{
  float: none;
  padding-top: 16px;
  padding-right: 0;
  padding-left: 12%;
  font-size: 30px;
 }

 .section-1 .first p{
  float: none;
  margin-left: 2%;
}

.section-1 .first .para{
  font-size: 18px;
}

 .section-1 .first h2{
  padding-bottom: 5px;
  margin-left: 12%;
 }

 .section2 {
  display: block;
}
.section2 .inner{
  width: 100%;
  height: auto;
  display: flex;
  margin: 10px 0;
}

.section2 .inner:hover{
  border-radius: 0;
}

.section3 {
  display: block;
}
.section3 .inner{
  width: 100%;
  height: auto;
  display: flex;
  margin: 10px 0;
}

.section3 .inner:hover{
  border-radius: 0;
}
/*BODY MOBILETS ENDS*/

.fml {
  margin-left: 0;
}

.footer .footer-container .footer-box {
  width: 100%;
  float: left;
  padding-right: 40px;
}
}
