
.footer_nav{
    margin: 3rem 0;
}
.footer_nav button{
    margin-right: .5rem;

}



 body{
     overflow-x: hidden; 
 }

 .tcolor{
     background: #32776B;
 }

.card-title{
    font-size: 14px;
}

.card-subtitle{
    font-size: 15px;
}

.fa-building{
    font-size: 40px;
    color: #F69953;
    margin-left: 70px;
}

.font-small{
    font-size: 12px;
}

 .ft{
     font-size: 16px;
     line-height: 1;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .frbg{
     background: #000;
 }

 .ml{
     margin-left: 120px;
 }

 .flink:hover{
    color: rgb(32, 189, 45) !important;
 }

 .copyright{
    width: 100%;
    background-color: #000;
    height: 50px;
    clear: both;
    overflow: hidden;
  }
  .copyright .copyright-container{
    width: 80%; 
    margin: 0 auto; 
  }
  
  .copyright .copyright-container p{
    color: #fff; 
    padding-top: 10px;
  }
  

footer{
    border-top: 2px solid rgb(75, 201, 75);
    padding-top: 5px;
}

@media screen and (max-width: 768px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 640px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

}

 @media screen and (max-width: 414px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .push{
        margin-top: 20px;
    }


}

@media screen and (max-width: 375px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

 
}

@media screen and (max-width: 360px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 320px) {

    .logo{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

}